<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MYPD 마이데이터의 첫걸음</title>
    <link rel="stylesheet" href="../stylesheets/home.css">
    <link rel="stylesheet" href="../stylesheets/default.css">
    <link rel="shortcut icon" type="image/x-icon" href="../images/logo-fabicon.png">
</head>
<body class="about">
        <div class="about_bg">

            <div class="about_nav">
                <nav class="navigation">
                    <div class="top">
                        <h1><a href="#"><img src = "../images/logo.png" width="230px" height="100%" alt="MYPD" class="logo"></a></h1>
                        <div class="menu">
                            <ul>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Mypage</a></li>
                                <li style="margin-right: 40px;"><a href="">Contact</a></li>
                            </ul>
                            <a class="login_box" href="/user/login" >로그인</a>
                        </div>
                    </div>
            </nav>
            </div>

            <div><h1 class="about_title">마이데이터의 첫걸음<br>
                mypd 마이데이터 테스트베드
            </h1></div>

        </div>

        <div class="about_text">
            mypd 마이데이터 테스트베드는<br>
            <span style="font-weight: 700";>모든 산업간 데이터 이전시 개인정보를 API규격에 맞추어 제공할 수 있도록</span><br>
            개발과 테스트를 무료로 도와드려요.
        </div>

        <div class= "about_section1">
            <h1>마이데이터 관련 서비스를 개발·제공하려는<br>
                모든 분들이 이용하실 수 있어요.</h1>
            <div class="about_icon_wrap">
                <div class="about_icon">
                    <img src="../images/who_icon1.png" alt="아이콘1" width="160px">
                    <p>일반이용자<br>(예비창업자)</p>
                </div>
                <div class="about_icon">
                    <img src="../images/who_icon2.png" alt="아이콘2" width="160px">
                    <p>마이데이터<br>사업자</p>
                </div>
                <div class="about_icon" style="margin-right:0px;">
                    <img src="../images/who_icon3.png" alt="아이콘3" width="160px">
                    <p>개발자</p>
                </div>
            </div>
        </div>

        <div class="about_section2">
            <p>mypd테스트베드는 기업용과 개인용으로 나뉘어요.</p>
            <div class="about_testbed_wrap">
                <div class="about_testbed" style="margin-left:0;">
                    <h3>기업용</h3>
                    <div class="about_section_line"></div>
                    <div class="about_section_who">대상</div>
                    <div class="about_section_who_text">모든기업</div>
                    <div class="about_section_list">
                        <ul>
                            <li class="about_section_detail"><img src="../images/check_1.png" width="13px" alt="check" class="about_section_detail_check">마이데이터 서비스 단위테스트</li>
                            <li class="about_section_detail"><img src="../images/check_1.png" width="13px" alt="check" class="about_section_detail_check">마이데이터 서비스 통합테스트</li>
                            <li class="about_section_detail"><img src="../images/check_1.png" width="13px" alt="check" class="about_section_detail_check">API 서버 단위테스트</li>
                            <li class="about_section_detail"><img src="../images/check_1.png" width="13px" alt="check" class="about_section_detail_check">API 서버 통합테스트</li>
                            <li class="about_section_detail"><img src="../images/check_1.png" width="13px" alt="check" class="about_section_detail_check">연동 테스트</li>
                        </ul>
                    </div>
                </div>
                <div class="about_testbed">
                    <h3 style="color:#05B3FE;">개인용</h3>
                    <div class="about_section_line"></div>
                    <div class="about_section_who" style="background-color:#05B3FE;">대상</div>
                    <div class="about_section_who_text">개발자 및 일반이용자</div>
                    <div class="about_section_list">
                        <ul>
                            <li class="about_section_detail"><img src="../images/check_1.png" width="13px" alt="check" class="about_section_detail_check">마이데이터 서비스 단위테스트</li>
                            <li class="about_section_detail"><img src="../images/check_1.png" width="13px" alt="check" class="about_section_detail_check">마이데이터 서비스 통합테스트</li>
                            <li class="about_section_detail"><img src="../images/check_1.png" width="13px" alt="check" class="about_section_detail_check">API 서버 단위테스트</li>
                            <li class="about_section_detail"><img src="../images/check_1.png" width="13px" alt="check" class="about_section_detail_check">API 서버 통합테스트</li>
                            <li class="about_section_detail"><img src="../images/check_1.png" width="13px" alt="check" class="about_section_detail_check">연동 테스트</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    
</body>
</html>