<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MYPD 마이데이터의 첫걸음</title>

    
    <!-- SWIPER -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"/>
    <!-- CSS -->
    <link rel="stylesheet" href="../stylesheets/home.css">
    <link rel="stylesheet" href="../stylesheets/default.css">
    <link rel="shortcut icon" type="image/x-icon" href="../images/logo-fabicon.png">
    
</head>
<body class="about">
        <div class="about_bg">

            <div class="about_nav">
                <nav class="navigation">
                    <div class="top">
                        <h1><a href="/main"><img src = "../images/logo.png" width="230px" height="100%" alt="MYPD" class="logo"></a></h1>
                        <div class="menu">
                            <ul id="main-menu">
                                <li class="menu_list"><a href="/main#scroll_about">About</a></li>
                                <% if(isAuthenticated){ %>
                                    <li><div class="menu_list"><a href="">Mypage</a></div>
                                        <ul id="sub-menu">
                                            <div class="sub_menu_box">
                                                <li><a href="/mypage/reg_svc_list" aria-label="subemnu"  class="sub_list">테스트 관리</a></li>
                                                <li><a href="/mypage/editcheck" aria-label="subemnu"  class="sub_list">회원정보 수정</a></li>
                                            </div>  
                                        </ul>
                                    </li>
                                    <% } %>
                                <li class="menu_list" style="margin-right: 40px;"><a href="/main#scroll_contact">Contact</a></li>
                            </ul>
                            <% if(isAuthenticated){ %>
                                <li id="logout_btn"><p><%= currentUser.nickname %>님</p></li>
                                <li id="logout_btn"><p> | </p></li>
                                <li id="logout_btn"><a href="/user/logout" style="margin-top: 5px;">로그아웃</a></li>
                            <% } else { %>
                                <a class="login_box" href="/user/login" >로그인</a>
                            <% } %>
                        </div>
                    </div>
                </nav>
            </div>

            <div><h1 class="about_title">마이데이터의 첫걸음<br>
                mypd 마이데이터 테스트베드
            </h1></div>

        </div>

        <div class="about_text">
            mypd 마이데이터 테스트베드는<br>
            <span style="font-weight: 700";>모든 산업간 데이터 이전시 개인정보를 API규격에 맞추어 제공할 수 있도록</span><br>
            개발과 테스트를 무료로 도와드려요.
        </div>

        <div class= "about_section1">
            <h1>마이데이터 관련 서비스를 개발·제공하려는<br>
                모든 분들이 이용하실 수 있어요.</h1>
            <div class="about_icon_wrap">
                <div class="about_icon">
                    <img src="../images/who_icon1.png" alt="아이콘1" width="160px">
                    <p>일반이용자<br>(예비창업자)</p>
                </div>
                <div class="about_icon">
                    <img src="../images/who_icon2.png" alt="아이콘2" width="160px">
                    <p>마이데이터<br>사업자</p>
                </div>
                <div class="about_icon" style="margin-right:0px;">
                    <img src="../images/who_icon3.png" alt="아이콘3" width="160px">
                    <p>개발자</p>
                </div>
            </div>
        </div>

        <div class="about_section2">
            <p>mypd테스트베드는 기업용과 개인용으로 나뉘어요.</p>
            <div class="about_testbed_wrap">
                <div class="about_testbed" style="margin-left:0;">
                    <h3>기업용</h3>
                    <div class="about_section_line"></div>
                    <div class="about_section_who">대상</div>
                    <div class="about_section_who_text">모든기업</div>
                    <div class="about_section_list">
                        <ul>
                            <li class="about_section_detail"><img src="../images/check_1.png" width="13px" alt="check" class="about_section_detail_check">마이데이터 서비스 단위테스트</li>
                            <li class="about_section_detail"><img src="../images/check_1.png" width="13px" alt="check" class="about_section_detail_check">마이데이터 서비스 통합테스트</li>
                            <li class="about_section_detail"><img src="../images/check_1.png" width="13px" alt="check" class="about_section_detail_check">API 서버 단위테스트</li>
                            <li class="about_section_detail"><img src="../images/check_1.png" width="13px" alt="check" class="about_section_detail_check">API 서버 통합테스트</li>
                            <li class="about_section_detail"><img src="../images/check_1.png" width="13px" alt="check" class="about_section_detail_check">연동 테스트</li>
                        </ul>
                    </div>
                </div>
                <div class="about_testbed">
                    <h3 style="color:#05B3FE;">개인용</h3>
                    <div class="about_section_line"></div>
                    <div class="about_section_who" style="background-color:#05B3FE;">대상</div>
                    <div class="about_section_who_text">개발자 및 일반이용자</div>
                    <div class="about_section_list">
                        <ul>
                            <li class="about_section_detail"><img src="../images/check_1.png" width="13px" alt="check" class="about_section_detail_check">마이데이터 서비스 단위테스트</li>
                            <li class="about_section_detail"><img src="../images/check_1.png" width="13px" alt="check" class="about_section_detail_check">마이데이터 서비스 통합테스트</li>
                            <li class="about_section_detail"><img src="../images/check_1.png" width="13px" alt="check" class="about_section_detail_check">API 서버 단위테스트</li>
                            <li class="about_section_detail"><img src="../images/check_1.png" width="13px" alt="check" class="about_section_detail_check">API 서버 통합테스트</li>
                            <li class="about_section_detail"><img src="../images/check_1.png" width="13px" alt="check" class="about_section_detail_check">연동 테스트</li>
                        </ul>   
                    </div>
                </div>
            </div>
        </div>




        <!-- swiper -->
        <div class="about_section3 swiper mySwiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide ">
                <div class="about_sec3_text">
                    <h1>마이데이터 서비스 테스트</h1>
                    <h2>마이데이터 서비스 테스트란?</h2>
                    <p>mypd API 제공서버를 이용하여 여러분의 마이데이터 서비스가<br>
                        API를 정상적으로 호출하는지 테스트할 수 있어요.</p>
                </div>
                <div class="about_sec3_pic">
                    <img src="../images/mydataservice_pic.png" alt="서비스테스트 소개" width="700px">
                </div>
              </div>
              <div class="swiper-slide">
                <div class="about_sec3_text">
                    <h1>마이데이터 서비스 테스트</h1>
                    <h2>단위 테스트</h2>
                    <p>mypd API 제공 서버를 통해 여러분의 서비스의 개별 API 동작을 테스트할 수 있어요. <br>
                        테스트베드 내 샘플 데이터를 이용하거나, 직접 테스트데이터를 추가하여 테스트 할 수 있어요.</p>
                </div>
                <div class="about_sec3_pic">
                    <img src="../images/mydataservice_pic2.png" alt="서비스테스트 소개" width="500px">
                </div>
                <div class="about_sec3_unittest_detail">
                    <p>①  테스트 서비스 및 데이터 선택</p>
                    <p>②  인증 및 지원 API 호출</p>
                    <p style="margin-right: 0;">③  개별 API 단위 테스트</p>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="about_sec3_text">
                    <h1>마이데이터 서비스 테스트</h1>
                    <h2>단위 테스트 - ① 테스트 서비스 및 데이터 선택</h2>
                    <p>테스트하고자 하는 서비스와 데이터를 선택해주세요<br>
                        등록하신 테스트 서비스 또는 테스트 데이터가 없으시다면 마이페이지를 통해서 등록하실 수 있어요<br>
                        또는 mypd에서 무료로 제공해드리는 샘플 데이터를 다운로드 받으실 수 있어요
                </div>
                <div class="about_sec3_pic">
                    <img src="../images/mydataservice_pic3.png" alt="서비스테스트 소개" width="230px">
                </div>
              </div>
              <div class="swiper-slide">
                <div class="about_sec3_text">
                    <h1>마이데이터 서비스 테스트</h1>
                    <h2>단위 테스트 - ② 인증 및 지원 API 호출</h2>
                    <p>본격적 단위테스트를 하기 앞서 사용자는 SWAGGER UI기반 API를 호출해야해요 <br>
                        인증 API : 클라이언트 별 정보로 인가 코드를 발급해줘요<br>
                        지원 API : 단위테스트를 진행하기위한 접근 토큰을 발급해줘요
                </div>
                <div class="about_sec3_pic">
                    <img src="../images/mydataservice_pic4.png" alt="서비스테스트 소개" width="400px">
                </div>
              </div>
              <div class="swiper-slide">
                <div class="about_sec3_text">
                    <h1>마이데이터 서비스 테스트</h1>
                    <h2>단위 테스트 - ③ 개별 API 단위 테스트</h2>
                    <p>모든 준비가 끝났어요! <br>
                        앞서 발급 받은 접근 토큰을 이용해 mypd의 가상 API 제공 서버에 접근하실 수 있어요 <br>
                        테스트하고자 하는 API를 개별적으로 호출해서 마음껏 테스트해보세요!  
                        
                        
                </div>
                <div class="about_sec3_pic">
                    <img src="../images/mydataservice_pic5.png" alt="서비스테스트 소개" width="400px">
                </div>a
              </div>
              <div class="swiper-slide">Slide</div>

            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
        <!-- swiper -->
        <div class="about_section3 swiper mySwiper" >
            <div class="swiper-wrapper">
              <div class="swiper-slide ">
                <div class="about_sec3_text">
                    <h2>API 서버 테스트</h2>
                    <p>가상의 마이데이터 서비스를 이용하여 정보제공자가 개발한 API서버가<br>API호출에 정상적으로 응답하는지 테스트하는 환경을 제공합니다.</p>
                </div>
                <div class="about_sec3_pic">
                    <img src="../images/mydataservice_pic.png" alt="서비스테스트 소개" width="700px">
                </div>
              </div>
              <div class="swiper-slide">
                <div class="about_sec3_text">
                    <h1>API 서버 테스트</h1>
                    <h2>단위 테스트</h2>
                    <p>nothing</p>
                </div>
                <div class="about_sec3_pic">
                    <img src="../images/mydataservice_pic2.png" alt="서비스테스트 소개" width="500px">
                </div>
                <div class="about_sec3_unittest_detail">
                    <p>①  테스트 서비스 및 데이터 선택</p>
                    <p>②  인증 및 지원 API 호출</p>
                    <p style="margin-right: 0;">③  개별 API 단위 테스트</p>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="about_sec3_text">
                    <h1>API 서버 테스트</h1>
                    <h2>단위 테스트 - ① 테스트 서비스 및 데이터 선택</h2>
                    <p>테스트하고자 하는 서비스와 데이터를 선택해주세요<br>
                        등록하신 테스트 서비스 또는 테스트 데이터가 없으시다면 마이페이지를 통해서 등록하실 수 있어요<br>
                        또는 mypd에서 무료로 제공해드리는 샘플 데이터를 다운로드 받으실 수 있어요
                </div>
                <div class="about_sec3_pic">
                    <img src="../images/mydataservice_pic3.png" alt="서비스테스트 소개" width="230px">
                </div>
              </div>
              <div class="swiper-slide">
                <div class="about_sec3_text">
                    <h1>API 서버 테스트</h1>
                    <h2>단위 테스트 - ② 인증 및 지원 API 호출</h2>
                    <p>본격적 단위테스트를 하기 앞서 사용자는 SWAGGER UI기반 API를 호출해야해요 <br>
                        인증 API : 클라이언트 별 정보로 인가 코드를 발급해줘요<br>
                        지원 API : 단위테스트를 진행하기위한 접근 토큰을 발급해줘요
                </div>
                <div class="about_sec3_pic">
                    <img src="../images/mydataservice_pic4.png" alt="서비스테스트 소개" width="400px">
                </div>
              </div>
              <div class="swiper-slide">
                <div class="about_sec3_text">
                    <h1>마이데이터 서비스 테스트</h1>
                    <h2>단위 테스트 - ③ 개별 API 단위 테스트</h2>
                    <p>모든 준비가 끝났어요! <br>
                        앞서 발급 받은 접근 토큰을 이용해 mypd의 가상 API 제공 서버에 접근하실 수 있어요 <br>
                        테스트하고자 하는 API를 개별적으로 호출해서 마음껏 테스트해보세요!  
                        
                        
                </div>
                <div class="about_sec3_pic">
                    <img src="../images/mydataservice_pic5.png" alt="서비스테스트 소개" width="400px">
                </div>a
              </div>
              <div class="swiper-slide">Slide</div>

            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>

        
         <!-- Swiper JS -->
        <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

        <!-- Initialize Swiper -->
        <script>
            var swiper = new Swiper(".mySwiper", {
                navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
                },
            });
        </script>

    
</body>
</html>