
<div class="mypage_title" style="border-bottom: 3px solid #2f17c8;">
    <div class="reg_svc_list_title" style="font-size: 15; padding: 30px 0 1px;">
        연동 테스트 관리
    </div>
</div>
<div style="display: flex; margin: 50px 30px 50px 30px; width: 600px;">
  <select style="width: 45%; height: 50px; margin-right: 10px;" name="select_type" id="select_type" required="">
    <option>업권 선택</option>
    <option value="카드">카드</option>
    <option value="은행">은행</option>
    <option value="보험">보험</option>
    <option value="금융">금융</option>
    <option value="의료">의료</option>
  </select>
  <input name="find_server" id="find_server" style="display: flex; padding: 10px; width: 45%; margin-right: 10px; ">
  <button onclick="select_server()" style="width: 10%; background-color: rgb(0, 0, 0); color:white; font-size: 14px; cursor: pointer; font-weight: 700; text-align: center;">검색</button>
</div> 
<content_select>
    
</content_select>  