<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MYPD 마이데이터의 첫걸음</title>

    
    <!-- SWIPER -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"/>
    <!-- CSS -->
    <link rel="stylesheet" href="../stylesheets/home.css">
    <link rel="stylesheet" href="../stylesheets/default.css">
    <link rel="shortcut icon" type="image/x-icon" href="../images/logo-fabicon.png">
</head>
<body>
    <div class="about_nav">
        <nav class="navigation">
            <%- include ("./header") %>
        </nav>
    </div>
    <main>
        <div class="main_pic_bg">
            <div class="city_edit"> 
                <h1>회원정보 수정</h1>
                <p>여러분의 서비스와 테스트데이터를 등록하세요.</p>

                <div class="mypage_box" style="padding-bottom:70px; min-width:870px;">
                    <form class="mypage_box_form" style="margin-top:50px">
                        <div class="mypage_box_input2">
                            <div class="mypage_box_input_id">
                                <label for="id">아이디</label>
                                <input type="text" name="id" class="mypage_input2" style="width:47%" disabled >
                            </div>
                        </div>
                        
                        <div class="mypage_box_input2">
                            <div class="mypage_box_input_id">
                                <div class = mypage_edit_section>
                                    <div class="mypage_edit_input">
                                        <label for="pw">비밀번호</label>
                                        <input type="password" name="pw" class="mypage_input2" required>
                                    </div>
                                    <div class="mypage_edit_input">
                                        <label for="f_email">이메일</label>
                                        <label for="s_email"></label>
                                        <div class="email" style="position:relative"> 
                                            <input  class="mypage_input2" type="text" id="femail" name="f_email" required="required" autofocus="autofocus" style="width:47%;">
                                            <span class="golbang">@</span>
                                            <input class="mypage_input2" type="text" id="semail" name="s_email" required="required" autofocus="autofocus" style="width:47%;">
                                            <button class="emailcheckBtn" type="button" onclick="sendMail()" style="position:absolute; margin-left:15px;">인증코드 발송</button>
                                        </div>
                                    </div>
                                </div>
                            </div>                            
                        </div>

                        <div class="mypage_box_input2">
                            <div class="mypage_box_input_id">
                                <div class = mypage_edit_section>
                                    <div class="mypage_edit_input">
                                        <label for="pwcheck">비밀번호 재입력</label>
                                        <input type="password" name="pwcheck" class="mypage_input2" required  >
                                    </div>
                                    <div class="mypage_edit_input">
                                        <label for="check">인증확인</label>
                                        <input type="text" name="check" class="mypage_input2" required >
                                    </div>
                                </div>
                            </div>                            
                        </div>    
                        

                        <div class="mypage_btn"><button>수정하기</button></div>
                    </form>
                </div>  
            </div>

        </div>

    </main>
</body>
</html>