<!DOCTYPE html>
<html lang="kor">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content=""> 
    `
    <!--CSS -->
    <link rel="stylesheet" href="../stylesheets/style.css">
    <title>아이디/비밀번호 찾기</title>
</head>

<body class="huji">
    <div class="logo">
      <!--왜 여긴 ../user/join임? 아래는 /user/join인데 -->
      <a href="/main">
        <img src="../images/logo.png" width="230px" height="100%" alt="" id="login_page">
      </a>
      <p class = "page_title_joinMain">개인회원 아이디 찾기</p>
    </div>

    <form class="inputBox_findIdPer" method="POST" action="/main" onsubmit="return testcheck()">

      <p class="content_findIdPer" style="font-weight: bold; font-size:26px;">등록된 이메일로 찾기</p>
      <p class="content_findIdPer">가입 당시 입력한 이메일을 통해 인증번호를 입력해주세요</p>

      <div class="inputJBox">
        <input type="text" style="width: 350px; font-size: 16px;"id="find_cmail" name="email_check" placeholder="인증확인" required="required" autofocus="autofocus">
        <!-- <button class="joinBtn" style="width: 70px; height: auto;" type="button" onclick="checkMail()">인증확인</button> -->
      </div>

      <button type="submit" class="btn_findIdpw" style="margin-top: 50px">아이디 찾기</button>
    </form>
    <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
    <script>
        
    $(document).ready(function number_check() {
        $("input[name='number']").focusout(function () {
            var result = false;
            var data = {
                "b_no": [$("#number").val()] // 사업자번호 "xxxxxxx" 로 조회 시,
            }; 
            
            $.ajax({
                url: "https://api.odcloud.kr/api/nts-businessman/v1/status?serviceKey=FBONefeh0BNms/zROn6qTrT7HiD8OIXfye0Du4rE97od/UHXKHdz6KCdy5PexGfKzuPxyALWTqOUlSwwFucbNg==",  // serviceKey 값을 xxxxxx에 입력
                type: "POST",
                data: JSON.stringify(data), // json 을 string으로 변환하여 전송
                dataType: "JSON",
                contentType: "application/json",
                accept: "application/json",
                success: function(result) {
                    console.log(result);
                    result = false;
                },
                error: function(result) {
                    console.log(result.responseText); //responseText의 에러메세지 확인
                    result = false;
                }
            });
        });
    });
        
</script>

</body>
</html>