<head>
    <link rel="stylesheet" href="../stylesheets/dashboard.css">
    <link rel="stylesheet" href="../stylesheets/default.css">
    <link rel="shortcut icon" type="image/x-icon" href="../images/logo-fabicon.png">
    
</head>
<body style="background: #ececec">
<div class = "dashboard">
    <div class="row" >
        <div class="col-xl-3 col-md-6" >
            <div class="card bg-temp text-white mb-4">
                <div class="card-body"  style="min-height:150px;">등록된 서비스
                    <table id="service"> </table>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6" >
            <div class="card bg-temp text-white mb-4" >
                <div class="card-body"  style="min-height:150px">등록된 서버
                    <table id="server"> </table>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-temp text-white mb-4">
                <div class="card-body" style="min-height:150px">Test Data
                    <table id="data"> </table>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-temp text-white mb-4">
                <div class="card-body"  style="min-height:150px">TEST
                    <table id="test"> </table>
                </div>
            </div>
        </div>
        <!-- <div class="card mb-4"> -->
            <!-- <div class="card-header" style="border-radius: 1rem 1rem 0rem 0rem; width: auto;">
                <i class="fas fa-table me-1"></i>
                Log Info
            </div> -->
            <div style="background: rgb(239,242,248); border-radius: 1rem; box-shadow: 5px 2px 20px 2px rgb(5 72 88 / 7%);">
                <div class="table_box" style="overflow-x : auto; white-space : nowrap">
                    <table class="data_table" style="display: inline-block; border-spacing: 5px 15px;">
                        <thead>
                            <tr>
                                <th id= "dashtitle">시간</th>
                                <th id= "dashtitle">method/상태 Code</th>
                                <th id= "dashtitle">URL</th>
                                <th id= "dashtitle">request Headers</th>
                                <th id= "dashtitle">request Body</th>
                                <th id= "dashtitle">result</th>
                            </tr>
                        </thead>
                        <tbody id="mytable" class="dashtable">
                        </tbody>
                    </table>
                </div>
            </div>
                </table>
            </div>
        <!-- </div> -->
    </div>
</div>