<head>
    <link rel="stylesheet" href="../stylesheets/dashboard.css">
    <link rel="stylesheet" href="../stylesheets/default.css">
    <link rel="shortcut icon" type="image/x-icon" href="../images/logo-fabicon.png">
    <script src="/path/to/cdn/jquery.min.js"></script>
</head>
<div class="mypage_title">
    <div class="reg_svc_list_title">
        테스트 현황
    </div>
</div>
<div class = "dashboard">
    <div class="row" >
        <div class="col-xl-3 col-md-6" id ="chart">
            <div class="card bg-temp text-white mb-4">
                <h3 class = "dashlistTilte" >Test 비율</h3>
                <div id="circle" style="min-height: 205px;"></div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6" id ="line">
            <div class="card bg-temp text-white mb-4" >
                <h3 class = "dashlistTilte" >날짜별 시도</h3>
                <div id="canvas" style="min-height: 205px;"></div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6" >
            <div class="card bg-temp text-white mb-4">
                <h3 class = "dashlistTilte" >등록 서비스</h3>
                <div class="card-body card-body2" >
                <table class="data_table data_table2"> 
                    <tbody id="service" class="dashtable">
                    </tbody>
                </table>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6" >
            <div class="card bg-temp text-white mb-4" >
                <h3 class = "dashlistTilte" >등록 서버</h3>
                <div class="card-body card-body2">
                    <table class="data_table data_table2">
                        <tbody id="server" class="dashtable">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-temp text-white mb-4">
                <h3 class = "dashlistTilte" >Test Data</h3>
                <div class="card-body card-body2" >
                    <table class="data_table data_table2"> 
                        <tbody id="data" class="dashtable">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
            <div style=" border-radius: 1rem; box-shadow: 5px 2px 20px 2px rgb(5 72 88 / 7%); max-height: 1000px; overflow: auto;">
                <div class="table_box" style="overflow-x : auto; white-space : nowrap">
                    <table class="data_table" style="display: inline-block; border-spacing: 5px 15px;">
                        <thead>
                            <tr>
                                <th id= "dashtitle">테스트 유형</th>
                                <th id= "dashtitle">시간</th>
                                <th id= "dashtitle">method/상태 Code</th>
                                <th id= "dashtitle">URL</th>
                                <th id= "dashtitle">request Headers</th>
                                <th id= "dashtitle">request Body</th>
                                <th id= "dashtitle">result</th>
                            </tr>
                        </thead>
                        <tbody id="mytable" class="dashtable">
                        </tbody>
                    </table>
                </div>
            </div>
                </table>
            </div>
        <!-- </div> -->
    </div>
</div>