<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MYPD 마이데이터의 첫걸음</title>

    
    <!-- SWIPER -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"/>
    <!-- CSS -->
    <link rel="stylesheet" href="../stylesheets/home.css">
    <link rel="stylesheet" href="../stylesheets/default.css">
    <link rel="shortcut icon" type="image/x-icon" href="../images/logo-fabicon.png">
</head>
<body>
    <div class="about_nav">
        <nav class="navigation">
            <div class="top">
                <h1><a href="/main"><img src = "../images/logo.png" width="230px" height="100%" alt="MYPD" class="logo"></a></h1>
                <div class="menu">
                    <ul id="main-menu">
                        <li class="menu_list"><a href="/main#scroll_about">About</a></li>
                        <% if(isAuthenticated){ %>
                            <li><div class="menu_list"><a href="">Mypage</a></div>
                                <ul id="sub-menu">
                                    <div class="sub_menu_box">
                                        <li><a href="/mypage/reg_svc" aria-label="subemnu"  class="sub_list">테스트 관리</a></li>
                                        <li><a href="/mypage/editcheck" aria-label="subemnu"  class="sub_list">회원정보 수정</a></li>
                                    </div>  
                                </ul>
                            </li>
                            <% } %>
                        <li class="menu_list" style="margin-right: 40px;"><a href="/main#scroll_contact">Contact</a></li>
                    </ul>
                    <% if(isAuthenticated){ %>
                        <li id="logout_btn"><p><%= currentUser.nickname %>님</p></li>
                        <li id="logout_btn"><p> | </p></li>
                        <li id="logout_btn"><a href="/user/logout" style="margin-top: 5px;">로그아웃</a></li>
                    <% } else { %>
                        <a class="login_box" href="/user/login" >로그인</a>
                    <% } %>
                </div>
            </div>
        </nav>
    </div>
    <main>
        <div class="main_pic_bg">
            <div class="city_edit"> 
                <h1>서비스 테스트 관리</h1>
                <p>여러분의 서비스와 테스트데이터를 등록하세요.</p>

                <div class="mypage_menu">
                    <a href="../mypage/reg_svc" class="mypage_menuBtn"> 마이데이터 서비스 테스트 관리 </a>
                    <!-- editdata / editmty 나눠야함 -->
                    <a href="../mypage/editdata" class="mypage_menuBtnnow" >테스트 데이터 관리</a>
                    <a href="../mypage/reg_link" class="mypage_menuBtn">연동 테스트</a>
                    <div class="mypage_menuBtn"> 테스트 현황 </div>
                </div>

                <div class="mypage_box" style="padding-bottom:70px; min-width:870px;">
                    <form class="mypage_box_form" style="margin-top:50px">
                      <div class="mypage_box_input2">
                        <div class="mypage_box_input_id">
                            <div class = mypage_edit_section>
                                <div class="mypage_edit_input">
                                    <label for="data_name">데이터 이름</label>
                                    <input type="text" id="data_name" name="data_name"  required="required" autofocus="autofocus">
                                    <span class="errorBox_myPage"></span>
                                </div>

                                <div class="mypage_edit_input">
                                    <label for="org_code">기관코드</label>
                                    <input type="text" id="org_code" name="org_code" value=<%=user_number%> required="required" autofocus="autofocus" readonly>
                                    <span class="errorBox_myPage"></span>
                                </div>
                            </div>
                        </div>                            
                      </div>
                        
                      <div class="mypage_box_input2">
                          <div class="mypage_box_input_id">
                              <div class = mypage_edit_section>
                                  <div class="mypage_edit_input">
                                    <label for="biz_type">업권</label>
                                    <select class="mypage_input2" name="biz_type" required>
                                      <option value="finance">은행 업권</option>
                                      <option value="commerce">전자상거래 업권</option>
                                      <option value="tmp1">tmp1</option>
                                      <option value="tmp2">tmp2</option>
                                    </select>
                                  </div>

                                  <div class="mypage_edit_input">
                                    <label for="api">API</label>
                                    <select class="mypage_input2" name="api" required>
                                      <option value="api1">api1</option>
                                      <option value="api2">api2</option>
                                      <option value="api3">api3</option>
                                      <option value="api4">api4</option>
                                    </select>
                                  </div>
                                  
                              </div>
                          </div>                            
                      </div>

                      <div class="mypage_box_input2">
                          <div class="mypage_box_input_id">
                              <div class = mypage_edit_section>
                                  <div class="mypage_edit_input">
                                      <label for="assetId">자산식별번호</label>
                                      <input type="text" name="assetId" id="assetId" placeholder="   ex) 계좌번호, 카드번호" required="required" autofocus="autofocus" >
                                      <span class="errorBox_myPage"></span>
                                  </div>
                                  <div class="mypage_edit_input">
                                      <label for="data">데이터</label>
                                      <!-- editClick() -->
                                      <button class="dataEditBtn" type="button" onclick="sendMail()">편집하기</button>
                                  </div>
                              </div>
                          </div>                            
                      </div>    

                      <div class="mypage_box_input2">
                          <div class = dataEdit_section>
                            <div class="mypage_btn"><button style="background-color: #888888;">취소하기</button></div>
                            <div class="mypage_btn" style="margin-left: 20px;"><button>저장하기</button></div>
                          </div>                      
                      </div>

                    </form>
                </div>  
            </div>
        </div>
    </main>


    <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="../javascripts/tmp.js"></script>

</body>
</html>