<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MYPD 마이데이터의 첫걸음</title>

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="../javascripts/json-viewer.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.4.0/dist/echarts.min.js"></script>

    <!-- SWIPER -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"/>
    <script src="https://kit.fontawesome.com/0cfcf927e8.js" crossorigin="anonymous"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="../stylesheets/home.css">
    <link rel="stylesheet" href="../stylesheets/default.css">
    <link rel="shortcut icon" type="image/x-icon" href="../images/logo-fabicon.png">
</head>
<body>
    <div class="about_nav">
        <nav class="navigation">
            <%- include ("./header2") %>
        </nav>
    </div>
    <main>
        <div class="main_pic_bg">
            <div class="city_edit"> 
                <h1>테스트 관리</h1>
                <div class="my_navigation">
                    <ul>
                        <li class="list active">
                            <a href="#!reg_svc" onclick="fetchPagesvc('reg_svc')">
                                <span class="icon"><i class="fa-solid fa-mobile-screen-button"></i></span>
                                <p class="text">서비스 테스트 관리</p>
                            </a>
                        </li>
                        <li class="list">
                            <a href="#!reg_data" onclick="fetchPagedata('reg_data')">
                                <span class="icon"><i class="fa-solid fa-database"></i></span>
                                <span class="text">테스트 데이터 관리</span>
                            </a>
                        </li>
                        <li class="list">
                            <a href="#!reg_svr" onclick="fetchPagesvr('reg_svr')">
                                <span class="icon"><i class="fa-solid fa-server"></i></span>
                                <span class="text">서버 등록</span>
                            </a>
                        </li>
                        <li class="list">
                            <a href="#!reg_isv" onclick="fetchPageisv('reg_isv')">
                                <span class="icon"><i class="fa-solid fa-link"></i></span>
                                <span class="text">연동 서버 테스트</span>
                            </a>
                        </li>
                        <li class="list">
                            <a href="#!reg_isc" onclick="fetchPageisc('reg_isc')">
                                <span class="icon"><i class="fa-solid fa-link"></i></span>
                                <span class="text">연동 서비스 테스트</span>
                            </a>
                        </li>
                        <li class="list">
                            <a id="dashboard" href="#!dashboard" onclick="fetchPageDashBoard('dashboard')">
                            <!-- <a href="../mypage/dashboard"> -->
                                <span class="icon"><i class="fa-solid fa-chart-line"></i></span>
                                <span class="text">테스트현황</span>
                            </a>
                        </li>
                        <div class="indicator"></div>
                    </ul>
                </div>
                <content>
    
                </content>     
            </div>

        </div>

    </main>
    <!-- my_nav바 움직이는거 -->

    <script src="../javascripts/mytest_fetch.js"></script>
    <script src="../javascripts/key.js"></script>
    <script>
        // const { Result } = require("express-validator");

        var jsonViewer;
        var jsonObj = {};
        
        function setJSON() {
            // var firstval = "예시 데이터 입니다";
            jsonViewer = new JSONViewer();
            document.querySelector("#json").appendChild(jsonViewer.getContainer());

            var textarea = document.querySelector("textarea");
            // textarea value to JSON object
            try {
                var value = textarea.value;
                jsonObj = JSON.parse(value);
                if(!textarea.value.includes("{") || !textarea.value.includes("}"))
                {
                    throw Error("not json");
                }
            }
            catch (err) {
                alert("데이터가 json문법에 맞지 않습니다.");
                return false;
            }
        };


        // load default value
        // setJSON();

        var collapseBtn = document.querySelector("button.collapse");
        var maxlvlBtn = document.querySelector("button.maxlvl");

        function loadJsonBtn() {
            var res = setJSON();
            if (res===false)
            {
                return false;
            }
            jsonViewer.showJSON(jsonObj);
        }

        function checkdata(){

            if(document.getElementById("testdata").value.length == 0)
            {
                alert("데이터를 등록하세요.")
                return false;
            }
            if(setJSON()===false)
            {
                return false;
            }
            return true;
            
        }

        function changeAPI(val){
            var target = document.getElementById("api");
            var medical = [
                "[의료명세서 API] 명세서 내역 조회 API",
                "[의료명세서 API] API 목록 조회",
                "[의료명세서 API] 전송요구내역 조회 API",
                "[의료명세서 API] 명세서 일반내역 조회 API(가안)",
                "[진료정보제공 API] 진료내역 조회 API",
                "[진료정보제공 API] API 목록 조회",
                "[진료정보제공 API] 처방전교부내역 조회 API",
                "[진료정보제공 API] 수진자상병내역 조회 API",
                "[진료정보제공 API] 전송요구내역 조회 API",
                "[의약품정보제공 API] 의료기관약제내역 조회 API",
                "[의약품정보제공 API] API 목록 조회",

                ]
            
            var ecommerce=[
                "도입예정1 API",
                "도입예정2 API"
            ]

            var finance=[
                "도입예정1 API"
            ]
            
            var res = [];

            if(val.value ==="의료"){
                res = medical;
            }
            else if(val.value==="전자상거래")
            {
                res=ecommerce;
            }
            else if(val.value==="금융"){
                res=finance;
            }
            
            target.options.length=0;
            for(x in res)
            {
                var opt = document.createElement("option");
                opt.value=res[x];
                opt.innerHTML =res[x];
                target.appendChild(opt);
            }

        } 


    </script>
</body>
</html>