<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MYPD 마이데이터의 첫걸음</title>

    
    <!-- SWIPER -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"/>
    <!-- CSS -->
    <link rel="stylesheet" href="../stylesheets/home.css">
    <link rel="stylesheet" href="../stylesheets/default.css">
    <link rel="shortcut icon" type="image/x-icon" href="../images/logo-fabicon.png">
</head>
<body>
    <div class="about_nav">
        <nav class="navigation">
            <div class="top">
                <h1><a href="/main"><img src = "../images/logo.png" width="230px" height="100%" alt="MYPD" class="logo"></a></h1>
                <div class="menu">
                    <ul id="main-menu">
                        <li class="menu_list"><a href="/main#scroll_about">About</a></li>
                        <li><div class="menu_list"><a href="">Mypage</a></div>
                            <ul id="sub-menu">
                                <div class="sub_menu_box">
                                    <li><a href="/mypage/editcheck" aria-label="subemnu"  class="sub_list">회원정보 수정</a></li>
                                    <li><a href="#" aria-label="subemnu"  class="sub_list">테스트 관리</a></li>
                                </div>  
                            </ul>
                        </li>
                        <li class="menu_list" style="margin-right: 40px;"><a href="/main#scroll_contact">Contact</a></li>
                    </ul>
                    <% if(isAuthenticated){ %>
                        <li id="logout_btn"><p><%= currentUser.nickname %>님</p></li>
                        <li id="logout_btn"><p> | </p></li>
                        <li id="logout_btn"><a href="/user/logout" style="margin-top: 5px;">로그아웃</a></li>
                    <% } else { %>
                        <a class="login_box" href="/user/login" >로그인</a>
                    <% } %>
                </div>
            </div>
        </nav>
    </div>
    <main>
        <div class="main_pic_bg">
            <div class="city_edit"> 
                <h1>회원정보 수정</h1>
                <p>여러분의 서비스와 테스트데이터를 등록하세요.</p>

                <!-- 비밀번호 재확인 -->
                <div class="mypage_box">
                    <div class="img">
                        <img src="../images/sad.png" alt="">
                    </div>
                    <h1 class="edit_pw_check_txt">비밀번호 재확인</h1>
                    <p>회원 정보를 안전하게 보호하기 위해 비밀번호를 다시 확인해요.</p>
                    <form class="mypage_pwcheck" method="post" action="/mypage/editcheck">
                        <label for="pw_check">회원 비밀번호</label>
                        <input type="password" id="pw_check" name="pw_Check" required class="mypage_input">
                        <button type="submit">확인</button>
                    </form>
                    
            </div>

        </div>

    </main>
</body>
</html>