<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MYPD 마이데이터의 첫걸음</title>

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="../javascripts/json-viewer.js"></script>


    <!-- SWIPER -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"/>
    <script src="https://kit.fontawesome.com/0cfcf927e8.js" crossorigin="anonymous"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="../stylesheets/home.css">
    <link rel="stylesheet" href="../stylesheets/default.css">
    <link rel="shortcut icon" type="image/x-icon" href="../images/logo-fabicon.png">
</head>
<body>
    <div class="about_nav">
        <nav class="navigation">
            <%- include ("./header") %>
        </nav>
    </div>
    <main>
        <div class="main_pic_bg">
            <div class="city_edit"> 
                <h1>테스트 관리</h1>
                <div class="my_navigation">
                    <ul>
                        <li class="list active">
                            <a href="#!reg_svc" onclick="fetchPagesvc('reg_svc')">
                                <span class="icon"><i class="fa-solid fa-mobile-screen-button"></i></span>
                                <p class="text">서비스 테스트 관리</p>
                            </a>
                        </li>
                        <li class="list">
                            <a href="#!reg_data" onclick="fetchPagedata('reg_data')">
                                <span class="icon"><i class="fa-solid fa-database"></i></span>
                                <span class="text">테스트 데이터 관리</span>
                            </a>
                        </li>
                        <li class="list">
                            <a href="#!reg_svr" onclick="fetchPagesvr('reg_svr')">
                                <span class="icon"><i class="fa-solid fa-server"></i></span>
                                <span class="text">서버 등록</span>
                            </a>
                        </li>
                        <li class="list">
                            <a href="#!isv" onclick="fetchPageisv('reg_isv')">
                                <span class="icon"><i class="fa-solid fa-link"></i></span>
                                <span class="text">연동 테스트</span>
                            </a>
                        </li>
                        <li class="list">
                            <a href="../mypage/dashboard">
                                <span class="icon"><i class="fa-solid fa-chart-line"></i></span>
                                <span class="text">테스트현황</span>
                            </a>
                        </li>
                        <div class="indicator"></div>
                    </ul>
                </div>

                <content>
    
                </content>     
            </div>

        </div>

    </main>
    <!-- my_nav바 움직이는거 -->
    <script src="../javascripts/mytest_fetch.js"></script>
    <script src="../javascripts/key.js"></script>
    <script>
        console.log(location.hash.substr(2));
        if(location.hash.substr(2)=="reg_svc"){
            fetchPagesvc('reg_svc');
        }
        else if(location.hash.substr(2)=="reg_data")
        {
            fetchPagedata('reg_data');
        }
        else if(location.hash.substr(2)=="reg_svr")
        {
            fetchPagesvr('reg_svr');
        }
    </script>
     <script type="text/javascript" src="../javascripts/data_add.js"></script>
</body>
</html>