<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MYPD 마이데이터의 첫걸음</title>

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="../javascripts/data_list.js"></script>

    <!-- SWIPER -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"/>
    
    <!-- CSS -->
    <link rel="stylesheet" href="../stylesheets/home.css">
    <link rel="stylesheet" href="../stylesheets/default.css">
    <link rel="shortcut icon" type="image/x-icon" href="../images/logo-fabicon.png">
</head>
<body>
    <div class="about_nav">
        <nav class="navigation">
            <%- include ("./header") %>
        </nav>
    </div>
    <main>
        <div class="main_pic_bg">
            <div class="city_edit"> 
                <h1>테스트 관리</h1>
                <p>여러분의 서비스와 테스트데이터를 등록하세요.</p>
                <div class="mypage_menu">
                    <a href="../mypage/reg_svc_list" class="mypage_menuBtn"> 마이데이터 서비스 테스트 관리 </a>
                    <!-- editdata / editmty 나눠야함 -->
                    <a href="../mypage/editdata_list" class="mypage_menuBtnnow" >테스트 데이터 관리</a>
                    <a href="../mypage/reg_svr_list" class="mypage_menuBtn" >서버 등록</a>
                    <a href="../mypage/reg_link" class="mypage_menuBtn"> 연동 테스트 </a>
                    <div class="mypage_menuBtn"> 테스트 현황 </div>
                </div>
                <!-- 비밀번호 재확인 -->
                <div class="mypage_box">
                        <div class="mypage_title">
                            <div class="reg_svc_list_title">
                                현재 등록된 테스트 데이터
                            </div>
                        </div>
                        <div class="table_box">
                            <table class="data_table">
                                <thead>
                                    <tr>
                                        <th>데이터명</th>
                                        <th>기관코드</th>
                                        <th>업권</th>
                                        <th>API</th>
                                        <th>자산식별번호</th>
                                        <th>편집</th>
                                        <th>삭제</th>
                                    </tr>
                                </thead>
                                <tbody id="mytable">

                                </tbody>
                            </table>
                        </div>
                    <a class="test_manage_btn" href="/mypage/editdata">서비스 추가하기</a>
                    
            </div>

        </div>

    </main>
</body>
</html>