<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MYPD 마이데이터의 첫걸음</title>

    
    <!-- SWIPER -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"/>
    <!-- CSS -->
    <link rel="stylesheet" href="../stylesheets/home.css">
    <link rel="stylesheet" href="../stylesheets/default.css">
    <link rel="shortcut icon" type="image/x-icon" href="../images/logo-fabicon.png">
</head>
<body>
    <div class="about_nav">
        <nav class="navigation">
            <div class="top">
                <h1><a href="/main"><img src = "../images/logo.png" width="230px" height="100%" alt="MYPD" class="logo"></a></h1>
                <div class="menu">
                    <ul id="main-menu">
                        <li class="menu_list"><a href="/main#scroll_about">About</a></li>
                        <% if(isAuthenticated){ %>
                            <li><div class="menu_list"><a href="">Mypage</a></div>
                                <ul id="sub-menu">
                                    <div class="sub_menu_box">
                                        <li><a href="/mypage/reg_svc_list" aria-label="subemnu"  class="sub_list">테스트 관리</a></li>
                                        <li><a href="/mypage/editcheck" aria-label="subemnu"  class="sub_list">회원정보 수정</a></li>
                                    </div>  
                                </ul>
                            </li>
                            <% } %>
                        <li class="menu_list" style="margin-right: 40px;"><a href="/main#scroll_contact">Contact</a></li>
                    </ul>
                    <% if(isAuthenticated){ %>
                        <li id="logout_btn"><p><%= currentUser.nickname %>님</p></li>
                        <li id="logout_btn"><p> | </p></li>
                        <li id="logout_btn"><a href="/user/logout" style="margin-top: 5px;">로그아웃</a></li>
                    <% } else { %>
                        <a class="login_box" href="/user/login" >로그인</a>
                    <% } %>
                </div>
            </div>
        </nav>
    </div>
    <main>
        <div class="main_pic_bg">
            <div class="city_edit"> 
                <h1>서비스 테스트 관리</h1>
                <p>여러분의 서비스와 테스트데이터를 등록하세요.</p>

                <div class="mypage_menu">
                    <a href="../mypage/reg_svc_list" class="mypage_menuBtn"> 마이데이터 서비스 테스트 관리 </a>
                    <!-- editdata / editmty 나눠야함 -->
                    <a href="../mypage/editdata" class="mypage_menuBtnnow" >테스트 데이터 관리</a>
                    <a href="../mypage/reg_link" class="mypage_menuBtn">연동 테스트</a>
                    <div class="mypage_menuBtn"> 테스트 현황 </div>
                </div>

                <!-- 비밀번호 재확인 -->
                <div class="mypage_box">
                    <div class="img">
                        <img src="../images/sad.png" alt="" width="80%">
                    </div>
                    <h1 class="edit_pw_check_txt">등록된 테스트 데이터가 없어요</h1>
                    <p>테스트 데이터를 등록하고 테스트데이터를 관리하세요</p>
                    <p>테스트데이터가 없다면 샘플데이터를  사용할 수 있어요</p>
                    <a class="test_manage_btn" href="/mypage/editdata">테스트데이터 추가하기</a>
                    <a class="test_manage_btn" style="background-color:gray; margin-top:10px;">샘플데이터 다운받기</a>

                </div>

          </div>
        </div>
    </main>
</body>
</html>

<!--
테스트 데이터가 DB에 존재하지 않는 경우 editdata 페이지 대신 editmty페이지가 나옴
-->