<!DOCTYPE html>
<html lang="kor">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content=""> 

    <!--CSS -->
    <link rel="stylesheet" href="../stylesheets/style.css">
    <title>아이디/비밀번호 찾기</title>
</head>

<body class="huji">
    <div class="logo">
      <a href="../">
        <img src="../images/logo.png" width="230px" height="100%" alt="" id="login_page">
      </a>
      <p class = "page_title_joinMain">개인회원 비밀번호 찾기</p>
    </div>

    <form class="inputBox_findIdPer" method="POST" action="/user/find_pw" onsubmit="return PWcheckMail()">

      <p class="content_findIdPer" style="margin-top: -10px; font-weight: bold; font-size:26px;">등록된 이메일로 찾기</p>
      <p class="content_findIdPer">임시 비밀번호 발급 후, 반드시 비밀번호 변경을 해주세요!</p>
      
      <div class="inputJBox">
        <input type="text" style="width: 350px; font-size: 16px;"id="find_id" name="find_id" placeholder="아이디 입력" required="required" autofocus="autofocus">
      </div>

      <div class="inputJBox">
        <span class="star" style="height: 35px; margin: 12px 0px 0px">*</span>
        <input type="text" id="find_femail" style="font-size: 16px" name="f_email" placeholder="이메일 주소" required="required" autofocus="autofocus">
        <span class="golbang" style="margin: 10px 10px 0px">@</span>
        <input type="text" id="find_semail" style="font-size: 16px" name="s_email" placeholder="직접 입력" required="required" autofocus="autofocus">
        <button class="joinBtn" type="button" style="height: auto;" onclick="sendMail()">인증코드 발송</button>
      </div>

      <div class="inputJBox">
        <input type="text" style="width: 350px; font-size: 16px;"id="find_cmail" name="email_check" placeholder="인증확인" required="required" autofocus="autofocus">
      </div>

      <button type="submit" class="btn_findIdpw" style="margin-top: 30px; font-size: 16px;">비밀번호 초기화</button>

    </form>
    <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="../javascripts/findscr.js"></script>

</body>
</html>