<!DOCTYPE html>
<html lang="kor">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content=""> 

    <!--CSS -->
    <link rel="stylesheet" href="../stylesheets/style.css">
    <title>아이디/비밀번호 찾기</title>
</head>

<body class="bg_findIdpw_169">
    <div class="logo">
      <!--왜 여긴 ../user/join임? 아래는 /user/join인데 -->
      <a href="../user/join">
        <img src="../images/logo.png" width="230px" height="100%" alt="" id="login_page">
      </a>
      <p class = "page_title_findIdpw">아이디/비밀번호 찾기</p>
    </div>
      

    <!-- 기업회원 아이디 비번 찾기-->
    <div class="inputBox_findIdpw">
      <div class="inputBox_title_findIdpw">기업 회원</div>
      <div class="underline_findIdpw"></div>
      <div class="corp_id_pw">

      </div>
      <div class="boxO_findIdpw">
        <div class="boxI_findIdpw">
          <img src="../images/company.png" alt="" id="loginImg">
          <a href="/user/join" class="btn_find">아이디 찾기</a>
        </div>

        <div class="boxI_findIdpw">
          <img src="../images/pw.png" alt="" id="loginImg">
          <a href="/user/join" class="btn_find">비밀번호 찾기</a>
        </div>

      </div>
      <div class="btm_rect"></div>
    </div>
    

    <!-- 개인회원 아이디 비번 찾기-->
    <div class="inputBox_findIdpw">
      <div class="inputBox_title_findIdpw" style="color: #05B3FE">개인 회원</div>
      <div class="underline_findIdpw"></div>
      <div class="corp_id_pw">

      </div>
      <div class="boxO_findIdpw">
        <div class="boxI_findIdpw">
          <img src="../images/id.png" alt="" id="loginImg">
          <a href="/user/find_id" class="btn_find">아이디 찾기</a>
        </div>

        <div class="boxI_findIdpw">
          <img src="../images/pw.png" alt="" id="loginImg">
          <a href="/user/find_pw" class="btn_find">비밀번호 찾기</a>
        </div>

      </div>
      <div class="btm_rect" style="background-color: #05B3FE"></div>
    </div>

</body>
</html>