<!DOCTYPE html>
<html lang="kor">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content=""> 

    <!--CSS -->
    <link rel="stylesheet" href="../stylesheets/style.css">
    <title>아이디/비밀번호 찾기</title>
</head>

<body class="bg_findIdpw_169">
    <div class="logo">
      <a href="../user/join">
        <img src="../images/logo.png" width="230px" height="100%" alt="" id="login_page">
      </a>
      <p class = "page_title_joinMain">기업회원 아이디 찾기</p>
    </div>

    <div class="inputBox_findIdPer">

      <div style="text-align : center; margin-top: 30px;">
        <img src="../images/check_3.png" width="50px" height="100%" alt="" id="login_page">
      </div>
      

      <p class="content_findIdPer_1">(주)mypd의 아이디는 </p>
      <p class="content_findIdPer_1"><%=ID%> 입니다. </p>
      
      <div class="boxI_findIdPer">
        <a href="/user/login" class="btn_findIdpw">로그인 하기</a>
        <a href="/user/find_pw" class="btn_findIdpw">비밀번호 찾기</a>
      </div>

    </div>


</body>
</html>