<!DOCTYPE html>
<html lang="kor">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content=""> 

    <!--CSS -->
    <link rel="stylesheet" href="../stylesheets/style.css">
    <title>비밀번호 초기화</title>
</head>

<body class="huji">
    <div class="logo">
      <a href="../main">
        <img src="../images/logo.png" width="230px" height="100%" alt="" id="login_page">
      </a>
      <p class = "page_title_joinMain">비밀번호 초기화</p>
    </div>

    <form class="inputBox_findIdPer" style="min-height: 0px" method="POST" action="/user/findPwPer" onsubmit="return PWcheckPasswd()">

        <p class="content_findIdPer" style="font-weight: bold; font-size:26px;">비밀번호 초기화</p>
      <p class="content_findIdPer">사용하실 비밀번호를 입력하세요!</p>
      
      <div class="inputJBox">
        <input type="password" style="width: 350px; font-size: 14px;"id="init_pw" name="init_pw" placeholder="비밀번호 입력 (문자, 숫자, 특수문자 포함 8 ~ 20자)" required="required" autofocus="autofocus">
      </div>
      <span class="error_next_box" style="font-size: 14px;"></span>
      <div class="inputJBox">
        <input type="password" style="width: 350px; font-size: 14px;"id="init_pw_check" name="init_pw_check" placeholder="비밀번호 재입력" required="required" autofocus="autofocus">
      </div>
      <span class="error_next_box" style="font-size: 14px;"></span>
      <button type="submit" class="btn_findIdpw" style="margin-top: 50px; margin-bottom: 50px; font-size: 16px;">비밀번호 초기화</button>

    </form>

    
    <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="../javascripts/findscr.js"></script>

</body>
</html>