<!DOCTYPE html>
<html lang="kor">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content=""> 

    <!--CSS -->
    <link rel="stylesheet" href="../stylesheets/style.css">
    <title>아이디/비밀번호 찾기</title>
</head>

<body class="bg_findIdpw_169">
    <div class="logo">
      <!--왜 여긴 ../user/join임? 아래는 /user/join인데 -->
      <a href="../user/join">
        <img src="../images/logo.png" width="230px" height="100%" alt="" id="login_page">
      </a>
      <p class = "page_title_joinMain">개인회원 비밀번호 찾기</p>
    </div>

    <div class="inputBox_findIdPer">

      <p class="content_findIdPer" style="margin-top: -10px; font-weight: bold; font-size:26px;">등록된 이메일로 찾기</p>
      <p class="content_findIdPer">임시 비밀번호 발급 후, 반드시 비밀번호 변경을 해주세요!</p>


      <div class="boxI_findPwPer">
        <p class="content_findIdPer_box">아이디 입력</p>
        <div class="underline_findPwPer"> </div>
      </div>

      <div class="boxI_findPwPer">
        <p class="content_findIdPer_box">이메일 입력</p>
        <a href="/user/join" class="btn_findIdPer">인증번호 전송</a>
        <div class="underline_findIdPer"> </div>
      </div>

      <div class="boxI_findPwPer">
        <p class="content_findIdPer_box">인증번호 입력</p>
        <a href="/user/join" class="btn_findIdPer">확인</a>
        <div class="underline_findIdPer"> </div>
      </div>


      <a href="/user/join" class="btn_findPw">임시 비밀번호 발급</a>
    </div>


</body>
</html>