<meta charset="UTF-8">
<title>header</title>

<div class="top">
<div class="menu_left">
    <h1><a href="/supermedic"><img src = "../images/sm_hori.png"   alt="MYPD" class="logo2"></a></h1>
</div>
</div>