<section style="overflow:hidden; height:auto; margin: 0px auto; border-top: 3px dotted rgb(190, 186, 186);">
    <div class="swagger-ui">
        <div class="responses-wrapper">
            <div class="opblock-section-header">
                <h1>Response</h1>
                <h1>수신계좌 거래내역 조회</h1>
            </div>
            
            <div class="responses-inner">
                <table aria-live="polite" class="responses-table" id="get_v1_oauth_2_0_authorize_responses" role="region">
                    <thead>
                        <tr class="responses-header">
                            <td class="col_header response-col_status">Code</td>
                            <td class="col_header response-col_description">Details</td>
                        </tr>
                    </thead>
                    
                    <tbody>
                        <tr class="response" data-code="200">
                            <td class="response-col_status">Body</td>
                            <td class="response-col_description">Response
                                <div class="model-example">
                                    <div aria-hidden="false" aria-labelledby="UTxw9y4=" data-name="examplePanel" id="U4LqXTs=" role="tabpanel" tabindex="0">
                                        <div>
                                            <div class="highlight-code">
                                                <pre class="example microlight" style="display: block; overflow-x: auto; padding: 0.5em; background: rgb(51, 51, 51); color: white;">
                                                    <code class="language-json" style="white-space: pre;">
                                                        <span>{</span>
                                                        <span>  </span>
                                                        <span class="hljs-attr">"code"</span>
                                                        <span>: </span>
                                                        <span style="color: rgb(32, 187, 230);">"321d8f2c76"</span>
                                                        <span>,</span>
                                                        <span>  </span>
                                                        <span class="hljs-attr">"state"</span>
                                                        <span>: </span>
                                                        <span style="color: rgb(162, 252, 162);">"0123456789abcdef0123456789abcdef01234567"</span>
                                                        <span>,</span>
                                                        <span>  </span>
                                                        <span class="hljs-attr">"api_tran_id"</span>
                                                        <span>: </span>
                                                        <span style="color: rgb(211, 99, 99);">1.2345678901234568e+24</span>
                                                        <span></span>}
                                                    </code>
                                                </pre>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="execute-wrapper" style="width: 40%; margin: 0 auto;">
                <button type="submit" id="nextclick" style="display: none;"></button>
                <button type="button" class="btn execute opblock-control__btn" onclick="clickresult2()" style="cursor:pointer;">추가테스트</button>
            </div>
        </div>
    </div>
</section>