<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MYPD 마이데이터의 첫걸음</title>

    
    <!-- SWIPER -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"/>
    <!-- CSS -->
    <link rel="stylesheet" href="../stylesheets/home.css">
    <link rel="stylesheet" href="../stylesheets/default.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/swagger_ui.css">
    <link rel="shortcut icon" type="image/x-icon" href="../images/logo-fabicon.png">


</head>
<body class="body_bg">
    <div class="about_nav">
        <nav class="navigation">
            <div class="top">
                <h1><a href="/main"><img src = "../images/logo.png" width="230px" height="100%" alt="MYPD" class="logo"></a></h1>
                <div class="menu">
                    <ul id="main-menu">
                        <li class="menu_list"><a href="/main#scroll_about">About</a></li>
                        <% if(isAuthenticated){ %>
                            <li><div class="menu_list"><a href="">Mypage</a></div>
                                <ul id="sub-menu">
                                    <div class="sub_menu_box">
                                        <li><a href="/mypage/reg_svc" aria-label="subemnu"  class="sub_list">테스트 관리</a></li>
                                        <li><a href="/mypage/editcheck" aria-label="subemnu"  class="sub_list">회원정보 수정</a></li>
                                    </div>  
                                </ul>
                            </li>
                            <% } %>
                        <li class="menu_list" style="margin-right: 40px;"><a href="/main#scroll_contact">Contact</a></li>
                    </ul>
                    <% if(isAuthenticated){ %>
                        <li id="logout_btn"><p><%= currentUser.nickname %>님</p></li>
                        <li id="logout_btn"><p> | </p></li>
                        <li id="logout_btn"><a href="/user/logout" style="margin-top: 5px;">로그아웃</a></li>
                    <% } else { %>
                        <a class="login_box" href="/user/login" >로그인</a>
                    <% } %>
                </div>
            </div>
        </nav>
    </div>

    <div class="header">
        <h1>통합테스트 - 접근토큰 요청 </h1>
    </div>

    <main class="main_bg">

        <!-- 왼쪽 사이드 바-->
        <aside>   
            <div class="side_bar">     

                <div class="dropdown">
                    <button class="dropdown-btn">마이데이터 서비스 테스트</button>
                    <div class="dropdown-submenu">
                        <a href="../testbed/unit_svc">ㄴ단위테스트</a>
                        <a href="../testbed/inte_svc">ㄴ통합테스트</a>
                        <a href="../testbed/link_svc">ㄴ연동테스트</a>
                    </div>
                </div>

                <div class="dropdown">
                    <button class="dropdown-btn">API 서비스 테스트</button>
                    <div class="dropdown-submenu">
                        <a href="../testbed/unit_api">ㄴ단위테스트</a>
                        <a href="../testbed/unit_api">ㄴ통합테스트</a>
                        <a href="../testbed/unit_api">ㄴ연동테스트</a>
                    </div>
                </div>

                <div class="dropdown">
                    <button class="dropdown-btn">테스트 관리</button>
                    <div class="dropdown-submenu">
                        <a href="../mypage/editdata">ㄴ테스트 데이터 관리</a>
                        <a href="../mypage/reg_svc">ㄴ테스트 서비스 관리</a>
                    </div>
                </div>

                <div class="dropdown">
                    <button class="dropdown-btn">테스트 내역 조회</button>
                    <div class="dropdown-submenu">
                        <a href="#none">ㄴ마이데이터 서비스 테스트</a>
                        <a href="#none">ㄴAPI 서버 테스트</a>
                    </div>
                </div>
            </div>   
        </aside>
        <!-- 중앙 내용 -->
        <section>
            <!-- SWAGger UI-->
            <form class="swagger-ui" method="POST" action="/testbed/inte_api_final">
                <div class="wrapper">
                    <div class="block col-12 block-desktop col-12-desktop">
                        <div>
                            <span>
                                <div class="opblock-tag-section is-open">
                                    <div class="no-margin">
                                        <div class="operation-tag-content">
                                            <span>
                                                <div
                                                    class="opblock opblock-get is-open"
                                                    id="operations-MydataAuthorization-get_v1_oauth_oauth_api_authorize_api">
                                                    <div class="no-margin">
                                                        <div class="opblock-body">
                                                            <div class="opblock-section">
                                                                <div class="parameters-container">
                                                                    <div class="table-container">
                                                                        <table class="parameters">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th class="col_header parameters-col_name">Name</th>
                                                                                    <th class="col_header parameters-col_description">Description</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                <tr data-param-name="x-api-tran-id" data-param-in="header">
                                                                                    <td class="parameters-col_name">
                                                                                        <div class="parameter__name required">x-api-tran-id<span>&nbsp;*</span></div>
                                                                                        <div class="parameter__type"></div>
                                                                                        <div class="parameter__deprecated"></div>
                                                                                        <div class="parameter__in">(header)</div>
                                                                                    </td>
                                                                                    <td class="parameters-col_description">
                                                                                        <div class="renderedMarkdown">
                                                                                            <p>거래고유번호</p>
                                                                                        </div><input type="text" name="x-api-tran-id" placeholder="x-api-tran-id" value=""></td>
                                                                                </tr>
                                                                                <tr data-param-name="org_code" data-param-in="query">
                                                                                    <td class="parameters-col_name">
                                                                                        <div class="parameter__name required">org_code<span>&nbsp;*</span></div>
                                                                                        <div class="parameter__type"></div>
                                                                                        <div class="parameter__deprecated"></div>
                                                                                        <div class="parameter__in">(query)</div>
                                                                                    </td>
                                                                                    <td class="parameters-col_description">
                                                                                        <div class="renderedMarkdown">
                                                                                            <p>기관코드</p>
                                                                                        </div><input type="text" name="org_code" placeholder="org_code" value=""></td>
                                                                                </tr>
                                                                                <tr data-param-name="grant_type" data-param-in="query">
                                                                                    <td class="parameters-col_name">
                                                                                        <div class="parameter__name required">grant_type<span>&nbsp;*</span></div>
                                                                                        <div class="parameter__type"></div>
                                                                                        <div class="parameter__deprecated"></div>
                                                                                        <div class="parameter__in">(query)</div>
                                                                                    </td>
                                                                                    <td class="parameters-col_description">
                                                                                        <div class="renderedMarkdown">
                                                                                            <p>권한부여 방식</p>
                                                                                        </div><input type="text" name="grant_type" placeholder="grant_type" value="authorization_code" readonly></td>
                                                                                </tr>
                                                                                <tr data-param-name="code" data-param-in="query">
                                                                                    <td class="parameters-col_name">
                                                                                        <div class="parameter__name required">code<span>&nbsp;*</span></div>    
                                                                                        <div class="parameter__type"></div>
                                                                                        <div class="parameter__deprecated"></div>
                                                                                        <div class="parameter__in">(query)</div>
                                                                                    </td>
                                                                                    <td class="parameters-col_description">
                                                                                        <div class="renderedMarkdown">
                                                                                            <p>인가코드</p>
                                                                                        </div><input type="text" name="code" placeholder="code" readonly value= <%=CODE %>></td>
                                                                                </tr>
                                                                                <tr data-param-name="client_id" data-param-in="query">
                                                                                    <td class="parameters-col_name">
                                                                                        <div class="parameter__name required">client_id<span>&nbsp;*</span></div>
                                                                                        <div class="parameter__type"></div>
                                                                                        <div class="parameter__deprecated"></div>
                                                                                        <div class="parameter__in">(query)</div>
                                                                                    </td>
                                                                                    <td class="parameters-col_description">
                                                                                        <div class="renderedMarkdown">
                                                                                            <p>클라이언트 식별값</p>
                                                                                        </div><input type="text" name="client_id" placeholder="client_id" value=""></td>
                                                                                </tr>
                                                                                <tr data-param-name="client_secret" data-param-in="query">
                                                                                    <td class="parameters-col_name">
                                                                                        <div class="parameter__name required">client_secret<span>&nbsp;*</span></div>
                                                                                        <div class="parameter__type"></div>
                                                                                        <div class="parameter__deprecated"></div>
                                                                                        <div class="parameter__in">(query)</div>
                                                                                    </td>
                                                                                    <td class="parameters-col_description">
                                                                                        <div class="renderedMarkdown">
                                                                                            <p>클라이언트 Secret값</p>
                                                                                        </div><input type="text" name="client_secret" placeholder="client_secret" value=""></td>
                                                                                </tr>
                                                                                <tr data-param-name="redirect_uri" data-param-in="query">
                                                                                    <td class="parameters-col_name">
                                                                                        <div class="parameter__name required">redirect_uri<span>&nbsp;*</span></div>
                                                                                        <div class="parameter__type"></div>
                                                                                        <div class="parameter__deprecated"></div>
                                                                                        <div class="parameter__in">(query)</div>
                                                                                    </td>
                                                                                    <td class="parameters-col_description">
                                                                                        <div class="renderedMarkdown">
                                                                                            <p>인가코드 발급요청 시 요청했던 Callback URL</p>
                                                                                        </div><input type="text" name="redirect_uri" placeholder="redirect_uri" value=""></td>
                                                                                </tr>
                                                                                <tr data-param-name="refresh_token" data-param-in="query">
                                                                                    <td class="parameters-col_name">
                                                                                        <div class="parameter__name required">refresh_token<span>&nbsp;*</span></div>
                                                                                        <div class="parameter__type"></div>
                                                                                        <div class="parameter__deprecated"></div>
                                                                                        <div class="parameter__in">(query)</div>
                                                                                    </td>
                                                                                    <td class="parameters-col_description">
                                                                                        <div class="renderedMarkdown">
                                                                                            <p>접근토큰 갱신을 위한 토큰</p>
                                                                                        </div><input type="text" name="refresh_token" placeholder="refresh_token" value=""></td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </span>
                        </div>
                    </div>
                    <div class="execute-wrapper">
                        <button type="submit" class="btn execute opblock-control__btn">접근토큰 발급요청</button>
                    </div>
                </div>
            </form>
        </section>        


        <!-- 오른쪽 사이드바 -->
        <aside></aside>

    </main>


    <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="../javascripts/service_test.js"></script>

</body>
</html>