<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MYPD 마이데이터의 첫걸음</title>

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="../javascripts/json-viewer.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.4.0/dist/echarts.min.js"></script>

    <script src="../javascripts/graphiq.min.js"></script>

    <!-- SWIPER -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"/>
    <script src="https://kit.fontawesome.com/0cfcf927e8.js" crossorigin="anonymous"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="../stylesheets/home.css">
    <link rel="stylesheet" href="../stylesheets/default.css">
    <link rel="shortcut icon" type="image/x-icon" href="../images/logo-fabicon.png">
</head>
    <body>
        <div class="mypage_title" style="display:fles; justify-content: space-between; margin:0 auto; border-bottom: 3px solid #2f17c8;">
            <div class="reg_svc_list_title" style="font-size: 15; padding: 30px 0 1px;">
                연동된 서버스 목록
            </div>
        </div>
        <div class="table_box_detail" style="margin-top: 30px;">
            <table class="data_table_detail">
                <tr style="text-align: center; width:5px;">
                    <p style="font-size: 22px;">연동된 서비스가 존재하지 않습니다.</p>
                </tr>

            </table>
        </div>
    </body>
</html>