<section style="overflow:hidden; height:auto; margin: 0px auto; border-top: 3px dotted rgb(190, 186, 186);">
    <div class="swagger-ui">
        <div class="responses-wrapper">
            <div class="opblock-section-header">
                <h1>Response</h1>
                <h1 id="header_api_res"></h1>
            </div>
            
            <div class="responses-inner">
                <table aria-live="polite" class="responses-table" id="get_v1_oauth_2_0_authorize_responses" role="region">
                    <thead>
                        <tr class="responses-header">
                            <td class="col_header response-col_status">Code</td>
                            <td class="col_header response-col_description">Details</td>
                        </tr>
                    </thead>
                    
                    <tbody>
                        <tr class="response" data-code="200">
                            <td class="response-col_status">Body</td>
                            <td class="response-col_description">Response
                                <div class="model-example">
                                    <div aria-hidden="false" aria-labelledby="UTxw9y4=" data-name="examplePanel" id="U4LqXTs=" role="tabpanel" tabindex="0">
                                        <div>
                                            <div id="coderesponse" style="width: 650px; padding: 0.5em; background: rgb(249, 245, 245);"></div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="execute-wrapper" style="width: 40%; margin: 0 auto;">
                <button type="submit" id="nextclick" style="display: none;"></button>
                <button type="button" class="btn execute opblock-control__btn" onclick="clickresult2()" style="cursor:pointer;">추가테스트</button>
            </div>
        </div>
    </div>
</section>