
<div class="mypage_title">
    <div class="reg_svc_list_title">
        연동 서버 정보
    </div>
</div>
<div class="table_box">
    <table class="data_table">
        <tr>
          <th>서버명</th>
          <th>name</th>
          <th>name</th>
          <th>name</th>
        </tr>
        <tr>
          <th>IP</th>
          <td>Dolor</td>
          <td>Dolor</td>
          <td>Dolor</td>
        </tr>
        <tr>
          <th>업권</th>
          <td>Dolor</td>
          <td>Dolor</td>
          <td>Dolor</td>
        </tr>
        <tr>
          <th>서버 설명</th>
          <td>Dolor</td>
          <td>Dolor</td>
          <td>Dolor</td>
        </tr>
    </table>
</div>
<!-- 

tr { display: block; float: left; }
th, td { display: block; } -->
