<!DOCTYPE html>
<html lang="kor">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content=""> 

    <!--CSS -->
    <link rel="stylesheet" href="../stylesheets/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="../images/logo-fabicon.png">
    <title>mypd 로그인</title>
    
</head>

<body class="huji">
    <div class="logo">
      <img src="../images/logo.png" width="280px" height="100%" alt="" id="login_page">
      <p class = "page_title">mypd 로그인</p>
    </div>

    <div class="input">
      <form class="loginBox" method="POST" action="/user/login">
        <div class="inputBox">
          <img src="../images/id.png" alt="" id="loginImg">
          <input type="text" id="id" name="id" placeholder="Enter your username" >
        </div>
        <div class="inputBox">
          <img src="../images/pw.png" alt="" id="loginImg" width="30px">
          <input type="password" id="id" name="pw" placeholder="Enter your password" >
        </div>
        <div class="btn">
          <button type="submit" class="loginBtn"><strong>로그인</strong></button><br>
        </div>
      </form>
      <div class="btn" style="display: flex;">
        <button type="button" class="findidpw">아이디/비밀번호 찾기</button>
        <p style="color: #7B7B7B;">아직 회원이 아니신가요?</p>
        <button type="button" class="makeId" onclick="location.href='/user/join' "><strong>회원가입</strong></button>
        <!-- a태그 추가해 redirect 해주기 -->
      </div>
      <div class="btn" id="snsLogin">
        <p style="color: #7B7B7B;">다른 계정으로 로그인하기</p>
        <div class="icon">
          <button type="button" class="snsBtn"><img src="../images/naver.png" alt="" id="snsImg"></button>
          <button type="button" class="snsBtn"><img src="../images/kakao.png" alt="" id="snsImg"></button>
          <button type="button" class="snsBtn"><img src="../images/facebook.png" alt="" id="snsImg"></button>
          <button type="button" class="snsBtn"><img src="../images/google.png" alt="" id="snsImg"></button>

        </div>
      </div>
    </div>
</body>
</html>