<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MYPD 마이데이터의 첫걸음</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
</head>
<body>
    <nav>
        <div>
            <h1><a href=""><img src = "../public/images/logo.png" alt="우리은행"></a></h1>
        </div>

    </nav>
    <main>

    </main>
</body>
</html>