<!DOCTYPE html>
<html lang="kor">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content=""> 

        <!--CSS -->
        <link rel="stylesheet" href="../stylesheets/style.css">
        <link rel="shortcut icon" type="image/x-icon" href="../images/logo-fabicon.png">
        <title>mypd testbed</title>
    </head>

    <body>
        <div>
            <div style="text-align : center;">
                <img src="../images/ringok.png" alt="" width="50px" height="50px" style="padding-top: 50px; -webkit-filter: opacity(.5) drop-shadow(0 0 0 blue); filter:opacity(.5) drop-shadow(0 0 0 blue)">
                <p class = "page_title" style="font-size:20px; margin-bottom: 0px">조회하실 목록을 선택해주세요.</p>
            </div>
            
            <div class="select_api">
                <a class="select_button1">대출상품계좌 기본정보 조회</a>
                <a class="select_button1">투자상품계좌 거래내역 조회</a>
                <a class="select_button1">투자상품계좌 추가정보 조회</a>
                <a class="select_button1">투자상품계좌 기본정보 조회</a>
                <a class="select_button1" style="background-color: blue;">수신계좌 거래내역 조회</a>
                <a class="select_button1" style="background-color: blue;">수신계좌 추가정보 조회</a>
            </div>
        </div>
    </body>
</html>