<!DOCTYPE html>
<html lang="kor">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content=""> 

        <!--CSS -->
        <link rel="stylesheet" href="../stylesheets/style.css">
        <link rel="shortcut icon" type="image/x-icon" href="../images/logo-fabicon.png">
        <title>mypd testbed</title>
    </head>

    <body>
        <div>
            <div style="text-align : center;">
                <img src="../images/user-icon.png" alt="" width="50px" height="50px" style="padding-top: 50px; -webkit-filter: opacity(.5) drop-shadow(0 0 0 blue); filter:opacity(.5) drop-shadow(0 0 0 blue)">
                <p class = "page_title" style="font-size:25px; margin-bottom: 0px">USER</p>
            </div>
            
            <div class="input">
                <form class="loginBox" method="POST" style="padding-top: 0px;" action="/testbed/moneylist">
                <div class="inputBox">
                    <img src="../images/id.png" alt="" id="loginImg">
                    <input type="text" id="id" name="id" placeholder="Enter your username" >
                </div>
                <div class="inputBox">
                    <img src="../images/pw.png" alt="" id="loginImg" width="30px">
                    <input type="password" id="id" name="pw" placeholder="Enter your password" >
                </div>
                <div style="display: flex; padding-top:20px; text-align: center;align-items: center; justify-content: center;">
                    <button type="button" class="loginBtn" onclick="window.close()" style="padding: 10px 30px; margin-right: 20px;"><strong>인증실패</strong></button><br>
                    <button type="submit" class="loginBtn" style="padding: 10px 30px;"><strong>인증성공</strong></button><br>
                </div>
                </form>
            </div>
        </div>
    </body>
</html>