<div style="display: block; width: 500px; margin: 0 auto; border: 2px solid rgba(51, 49, 49, 0.5);" >
    <div style="display: flex; height: 150px; margin: 5px; border: #2f17c8;">
      <div style="width: 30%; border: #2f17c8; margin: 10px;">
        <section id="select_1" style="height: 80%; border: 3px solid rgba(51, 49, 49, 0.5); background: url(/images/company_money.png) center no-repeat;"></section>
        <section id="select_2" name="select_2" style="height: 20%; padding-top: 4px; text-align: center; background-color: rgba(51, 49, 49, 0.5); font-weight: 700; font-size: 14px;">asdf</section>
    </div>
      <div style="width: 70%; border: #2f17c8; margin: 10px;">
        <section style="height: 80%; background-color: #2f17c8;">
          
        </section>
        <section style="height: 20%; background-color: #c8173d;"></section>
      </div>
    </div>
  </div>

  <tbody id="mytable">
    </tbody>