<div class="mypage_title">
    <div class="reg_svc_list_title">
        현재 등록된 서비스
    </div>
</div>
<div class="table_box">
    <table class="data_table">
        <thead>
            <tr>
                <th>서비스명</th>
                <th>Callback URL</th>
                <th>Client ID</th>
                <th>설명</th>
                <th>삭제</th>
            </tr>
        </thead>
        <tbody id="mytable">

        </tbody>
    </table>
</div>
<a class="test_manage_btn" onclick="fetchPage('add_svc')">서비스 추가하기</a>
