<div class="mypage_title">
    <div class="reg_svc_list_title">
        현재 등록된 테스트 데이터
    </div>
</div>
<div class="table_box">
    <table class="data_table">
        <thead>
            <tr>
                <th style="text-align: center;">데이터명</th>
                <th style="text-align: center;">기관코드</th>
                <th style="text-align: center;">업권</th>
                <th style="text-align: center;">API</th>
                <th style="text-align: center;">자산식별번호</th>
                <th style="text-align: center;">편집</th>
                <th style="text-align: center;">삭제</th>
            </tr>
        </thead>
        <tbody id="mytable">

        </tbody>
    </table>
</div>
<a class="test_manage_btn"  onclick="fetchPage('editdata')">데이터 추가하기</a>