
<div class="mypage_title">
    <div class="reg_svc_list_title">
        승인된 연동테스트 서버
    </div>
</div>
<div class="table_box">
    <table class="data_table">
        <thead>
            <tr>
                <th>서버명</th>
                <th>IP</th>
                <th>API업권</th>
                <th>신규 요청</th>
                <th style="width:80px">연동 취소</th>
            </tr>
        </thead>
        <tbody id="mytable">
            
        </tbody>
    </table>
</div>
<a class="test_manage_btn" onclick="window.open('/mypage/addinte_server', '인증 팝업', 'width = 400, height = 450, top = 100, left = 200, location = no');">연동테스트 서버 추가</a>
