
<div class="mypage_title">
    <div class="reg_svc_list_title">
        현재 등록된 서버
    </div>
</div>
<div class="table_box">
    <table class="data_table">
        <thead>
            <tr>
                <th>서버명</th>
                <th>IP</th>
                <th>API업권</th>
                <th>서버 설명</th>
                <th>삭제</th>
            </tr>
        </thead>
        <tbody id="mytable">

        </tbody>
    </table>
</div>
<a class="test_manage_btn" onclick="fetchPage('add_svr')">서버 추가하기</a>
