<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MYPD 마이데이터의 첫걸음</title>

    
    <!-- SWIPER -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"/>
    <!-- CSS -->
    <link rel="stylesheet" href="../stylesheets/home.css">
    <link rel="stylesheet" href="../stylesheets/default.css">
    <link rel="shortcut icon" type="image/x-icon" href="../images/logo-fabicon.png">
</head>
<body>
    <div class="about_nav">
        <nav class="navigation">
            <%- include ("./header") %>
        </nav>
    </div>
    <main>
        <div class="main_pic_bg">
            <div class="city_edit"> 
                <h1>테스트 관리</h1>
                <p>여러분의 서비스와 테스트데이터를 등록하세요.</p>
                <div class="mypage_menu">
                    <a href="../mypage/reg_svc_list" class="mypage_menuBtnnow"> 마이데이터 서비스 테스트 관리 </a>
                    <!-- editdata / editmty 나눠야함 -->
                    <a href="../mypage/editdata_list" class="mypage_menuBtn" >테스트 데이터 관리</a>
                    <a href="../mypage/reg_link" class="mypage_menuBtn"> 연동 테스트 </a>
                    <div class="mypage_menuBtn"> 테스트 현황 </div>
                </div>
                <!-- 비밀번호 재확인 -->
                <div class="mypage_box">
                    <div class="img">
                        <img src="../images/sad.png" alt="" width="80%">
                    </div>
                    <h1 class="edit_pw_check_txt">등록된 서비스가 없어요.</h1>
                    <p>서비스를 등록하고 mypd테스트베드를 이용해보세요!</p>
                    <a class="test_manage_btn" href="/mypage/reg_svc">서비스 추가하기</a>
                    
            </div>

        </div>

    </main>
</body>
</html>