<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>슈퍼메딕 만성질환 관리가 쉬워지다</title>

    
    <!-- SWIPER -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"/>
    <!-- CSS -->
    <link rel="stylesheet" href="../stylesheets/home.css">
    <link rel="stylesheet" href="../stylesheets/default.css">
    <link rel="shortcut icon" type="image/x-icon" href="../images/smfabicon.png">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>
<body class="about">
        <div class="about_sm">

            <div class="about_nav">
                <nav class="navigation">
                    <%- include ("./header3") %>
                </nav>
            </div>

            <div class="sm_land">
                <div><img src="../images/sm_phone.png" alt="sm_phone" width="750px;"></div>
                <div>
                    <div class="sm_co">만성질환관리가 쉬워진다</div>
                    <div class="sm_co_sub">건강기록부터 비대면진료까지 스마트 케어 솔루션</div>
                    <div class="sm_btn">
                        <div onclick="alert('3월중 베타서비스 출시 예정')" ><a href="#"><img src="../images/applelogo.png" alt="about_pic2" width="10%" style="margin-right:9px">App Store</a></div>
                        <div onclick="alert('3월중 베타서비스 출시 예정')" ><a href="#"><img src="../images/playstore.png"  alt="about_pic2" width="10%" style="margin-right:9px">Google Play</a></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="about_text" style="margin-top:170px; margin-bottom:150px;">
            슈퍼메딕은 개인 보건의료데이터 관리, 기록, 의료기관 전송, 비대면 진료, 약처방 및 배송까지<br>
            <span style="font-weight: 700";>만성질환자의 삶의 전반에서 스마트한 건강관리를 제공합니다.</span><br>
        </div>

        <div class="sm_info_1">
            <div class="sm_info_1_text">
                <div class="title">의료데이터 연동</div>
                <div class="describe">슈퍼메딕에 흩어져있던 나의 의료마이데이터를 불러오고<br>
                    웨어러블 디바이스에 저장된 헬스케어 정보를 연결해 보세요.<br>
                    이전의 진료내역, 건강검진내역, 심박수 등 한눈에 확인할 수 있어요. </div>
            </div>
            <div> <img src="../images/sm_linking.png" alt="sm_linking" width="650px;" data-aos="fade-up" data-aos-duration="1000"></div>
        </div>

        <div class="sm_info_1" style="width:1470px;">
            <div> <img src="../images/sm_link.png" alt="sm_link" width="780px;" id="reco1" data-aos="fade-up" data-aos-duration="1000"></div>
            <div class="sm_info_1_text" style="margin-right:80px">
                <div class="title">건강수치 기록</div>
                <div class="describe">혈압, 혈당 등 오늘의 건강수치를 기록하고 관리하세요.<br>
                    증상, 알러지 등도 기록할 수 있어요.
                </div>
            </div>
        </div>

        <div class="sm_info_1">
            <div class="sm_info_1_text">
                <div class="title">복약 관리</div>
                <div class="describe">슈퍼메딕은 제때 약을 챙겨 먹을 수 있도록 도와드려요.<br>
                    과거 복약 내역을 확인하고 의료진에게 전달해 관리를 받을 수 있어요.
                     
                </div>
            </div>
            <div> <img src="../images/sm_pill.png" alt="sm_link" width="650px;" id="reco1" data-aos="fade-up" data-aos-duration="1000"></div>
        </div>

        <div class="sm_info_2" style="width:1470px;">
            <div class="title">비대면 진료</div>
            <div class="describe">진료내용과 슈퍼메딕에 기록·연동된 나의 데이터를 함께 보내 양질의 의료서비스를 받을 수 있어요.
            <br>또한 약배송 서비스로 불필요한 걸음을 줄이세요</div>
            <div class="sm_diag">
                <img src="../images/sm_diagnose.png" alt="sm_link" width="100%"; id="reco1" data-aos="fade-up" data-aos-duration="1000">
            </div>
        </div>

        <div class="sm_add" style="width:100%;">
            <address class="p-footer__address"><strong>mypd</strong> &nbsp;| 대표 : 한종문, 안병욱<br><br>
                서울특별시 금천구 가산동 453-1, 26층 2611호(가산동, 대성디폴리스 A동)<br>연락처 : 010-9659-3000 | 이메일: securityteam@kakao.com</address>
        </div>
         <!-- Swiper JS -->
        <script src="../javascripts/ScrollUp.js"></script>
        
        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script>
          AOS.init();
        </script>
</body>
</html>
