<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Swagger UI</title>
        <link rel="stylesheet" type="text/css" href="../stylesheets/swagger_ui.css">
        <link
            rel="icon"
            type="image/png"
            href="/swagger-ui-dist/favicon-32x32.png"
            sizes="32x32"><link
            rel="icon"
            type="image/png"
            href="/swagger-ui-dist/favicon-16x16.png"
            sizes="16x16">
        <style>
            html {
                box-sizing: border-box;
                overflow: -moz-scrollbars-vertical;
                overflow-y: scroll;
            }
            *,
            *:after,
            *:before {
                box-sizing: inherit;
            }

            body {
                margin: 0;
                background: #fafafa;
            }
        </style>
    </head>

    <body>
        <div class="swagger-ui">
            <div class="wrapper">
                <section class="block col-12 block-desktop col-12-desktop">
                    <div>
                        <span>
                            <div class="opblock-tag-section is-open">
                                <div class="no-margin">
                                    <div class="operation-tag-content">
                                        <span>
                                            <div
                                                class="opblock opblock-get is-open"
                                                id="operations-MydataAuthorization-get_v1_oauth_oauth_api_authorize_api">
                                                <div class="no-margin">
                                                    <div class="opblock-body">
                                                        <div class="opblock-section">
                                                            <div class="parameters-container">
                                                                <div class="table-container">
                                                                    <table class="parameters">
                                                                        <thead>
                                                                            <tr>
                                                                                <th class="col_header parameters-col_name">Name</th>
                                                                                <th class="col_header parameters-col_description">Description</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr data-param-name="x-user-ci" data-param-in="header">
                                                                                <td class="parameters-col_name">
                                                                                    <div class="parameter__name required">x-user-ci<span>&nbsp;*</span></div>
                                                                                    <div class="parameter__type"></div>
                                                                                    <div class="parameter__deprecated"></div>
                                                                                    <div class="parameter__in">(header)</div>
                                                                                </td>
                                                                                <td class="parameters-col_description">
                                                                                    <div class="renderedMarkdown">
                                                                                        <p>정보주체 CI</p>
                                                                                    </div><input type="text" class="" title="" placeholder="x-user-ci" value=""></td>
                                                                            </tr>
                                                                            <tr data-param-name="x-api-tran-id" data-param-in="header">
                                                                                <td class="parameters-col_name">
                                                                                    <div class="parameter__name required">x-api-tran-id<span>&nbsp;*</span></div>
                                                                                    <div class="parameter__type"></div>
                                                                                    <div class="parameter__deprecated"></div>
                                                                                    <div class="parameter__in">(header)</div>
                                                                                </td>
                                                                                <td class="parameters-col_description">
                                                                                    <div class="renderedMarkdown">
                                                                                        <p>거래고유번호</p>
                                                                                    </div><input type="text" class="" title="" placeholder="x-api-tran-id" value=""></td>
                                                                            </tr>
                                                                            <tr data-param-name="org_code" data-param-in="query">
                                                                                <td class="parameters-col_name">
                                                                                    <div class="parameter__name required">org_code<span>&nbsp;*</span></div>
                                                                                    <div class="parameter__type"></div>
                                                                                    <div class="parameter__deprecated"></div>
                                                                                    <div class="parameter__in">(query)</div>
                                                                                </td>
                                                                                <td class="parameters-col_description">
                                                                                    <div class="renderedMarkdown">
                                                                                        <p>기관코드</p>
                                                                                    </div><input type="text" class="" title="" placeholder="org_code" value=""></td>
                                                                            </tr>
                                                                            <tr data-param-name="response_type" data-param-in="query">
                                                                                <td class="parameters-col_name">
                                                                                    <div class="parameter__name required">response_type<span>&nbsp;*</span></div>
                                                                                    <div class="parameter__type"></div>
                                                                                    <div class="parameter__deprecated"></div>
                                                                                    <div class="parameter__in">(query)</div>
                                                                                </td>
                                                                                <td class="parameters-col_description">
                                                                                    <div class="renderedMarkdown">
                                                                                        <p>인가코드 반환</p>
                                                                                    </div><input type="text" class="" title="" placeholder="response_type" value=""></td>
                                                                            </tr>
                                                                            <tr data-param-name="client_id" data-param-in="query">
                                                                                <td class="parameters-col_name">
                                                                                    <div class="parameter__name required">client_id<span>&nbsp;*</span></div>
                                                                                    <div class="parameter__type"></div>
                                                                                    <div class="parameter__deprecated"></div>
                                                                                    <div class="parameter__in">(query)</div>
                                                                                </td>
                                                                                <td class="parameters-col_description">
                                                                                    <div class="renderedMarkdown">
                                                                                        <p>클라이언트 식별값</p>
                                                                                    </div><input type="text" class="" title="" placeholder="client_id" value=""></td>
                                                                            </tr>
                                                                            <tr data-param-name="redirect_uri" data-param-in="query">
                                                                                <td class="parameters-col_name">
                                                                                    <div class="parameter__name required">redirect_uri<span>&nbsp;*</span></div>
                                                                                    <div class="parameter__type"></div>
                                                                                    <div class="parameter__deprecated"></div>
                                                                                    <div class="parameter__in">(query)</div>
                                                                                </td>
                                                                                <td class="parameters-col_description">
                                                                                    <div class="renderedMarkdown">
                                                                                        <p>마이데이터 서비스 URI</p>
                                                                                    </div><input type="text" class="" title="" placeholder="redirect_uri" value=""></td>
                                                                            </tr>
                                                                            <tr data-param-name="state" data-param-in="query">
                                                                                <td class="parameters-col_name">
                                                                                    <div class="parameter__name required">state<span>&nbsp;*</span></div>
                                                                                    <div class="parameter__type"></div>
                                                                                    <div class="parameter__deprecated"></div>
                                                                                    <div class="parameter__in">(query)</div>
                                                                                </td>
                                                                                <td class="parameters-col_description">
                                                                                    <div class="renderedMarkdown">
                                                                                        <p>CSRF 방지 목적의 임의설정 값</p>
                                                                                    </div><input type="text" class="" title="" placeholder="state" value=""></td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </span>
                    </div>
                </section>
                <div class="execute-wrapper">
                    <button class="btn execute opblock-control__btn">Execute</button>
                </div>
            </div>
        </div>
    </body>
</html>