body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
  margin: 0;
  padding: 0;

}
/*==========================================================*/
/*Login Page*/
/*==========================================================*/
input::placeholder {
  color: #c7c7c7;
}
.huji {
  width : 100%;
  height : 100vh;
  min-height: 900px;
  background: url(../images/login-bg.png) center no-repeat;
  background-size: cover;
}
.page_title{
  font-size: 35px;
  font-weight: 800;
  color: black;
  margin-top : 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.logo{
  margin-top: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.huji .input{
  background-color: white;
  height : 50vh;
  min-height: 480px;
  max-width: 450px;
  margin: 0 auto;
  border-radius: 24px;
  box-shadow: 0px 4px 23px -4px rgba(0, 0, 0, 0.25);
  /* opacity: 0.7; */
  text-align: center;
  align-items: center;
  justify-content: center;
}
.loginBox{
  padding-top: 30px;
  background-color: transparent;
}
.inputBox{
  width: 280px;
  margin: 0 auto;
  border-radius: 2px;
  box-sizing: border-box;
  border-bottom: 3px solid #c7c7c7;
  display: flex;
  padding-top: 10px;
}
.inputBox #id{
  width: 280px;
  height: 50px;
  border: none;
  outline: none;
  padding-top: 10px;
  margin-left: 10px;
  color: #000000;
  font-size: 17px;
  box-sizing: border-box;
}
.loginBtn{
  background: #0C61FE;
  border: none;
  padding: 10px 120px;
  color: #fff;
  border-radius: 10px !important;
  cursor: pointer;
  box-shadow: 4px 4px 23px -4px rgba(0, 0, 0, 0.25);
  font-size: 0.93em;
}
.findidpw{
  background: transparent;
  border: none;
  padding-top: 10px;
  font-size: 12px;
  position: absolute;  
  top: 0;
  right: 0;
  cursor:pointer;
}
.btn{
  padding-top: 30px;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 285px;
  margin: 0 auto;
  position: relative ;
}

.makeId{
  color: #0D99FF;
  background: transparent;
  border: none;
  font-size: 16px;
  cursor:pointer;
}
.icon{
  display: flex;
  width: 280px;
  margin: 0 auto;
  padding-left: 30px;
}
.snsBtn{
  background: transparent !important;
  border: none;
}
#loginImg{
  width: 25px;
  height: 30px;
  text-align: center;
  padding-top: 10px;
}
#snsImg{
  width: 47px;
  height: 47px;
  margin: 0 auto;
  box-shadow: 4px 4px 23px -4px rgba(0, 0, 0, 0.25);
  background: transparent;
  border-radius: 70%;
  cursor:pointer;
}
#snsLogin{
  padding-top: 15px;
}

/*==========================================================*/
/*Join Page*/
/*==========================================================*/
.joinBox{
  padding: 10px 10px 20px 10px;
  background-color: transparent;
}

.joinBtn{
  width: 90px;
  height: 25px;
  margin: 7px 0px 0px 10px;
  background: #5B5B5B;
  border: none;
  color: #fff;
  border-radius: 5px !important;
  cursor: pointer;
  font-size: 10px;
}

.inputJBox{
  width: 350px;
  margin: 0 auto;
  border-radius: 2px;
  box-sizing: border-box;
  display: flex;
  padding-top: 15px;
}

.inputJBox #id{
  width: 350px;
  height: 30px;
  border: none;
  outline: none;
  border-bottom: 3px solid #c7c7c7;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #000000;
  font-size: 12px;
  box-sizing: border-box;
}

.inputJBox #pw{
  width: 350px;
  height: 30px;
  border: none;
  outline: none;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 3px solid #c7c7c7;
  color: #000000;
  font-size: 12px;
  box-sizing: border-box;
}

.inputJBox #email{
  width: 110px;
  height: 30px;
  border: none;
  outline: none;
  border-bottom: 3px solid #c7c7c7;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #000000;
  font-size: 12px;
  box-sizing: border-box;
}

.golbang{
  margin: 0 10px;
  color:#5B5B5B;
  font-weight: 600;
}
.star{
  height: 24px;
  margin: 3px 0px;
  color:red;
  border-bottom: 3px solid #c7c7c7;
}
.BOX{
  height : 100px; 
  width : 350px; 
  min-height: 100px;
  max-width: 350px;
  margin: 20px auto 10px; 
  background-color: #f3f3f3; 
  border-radius: 12px;
  border: 0.5px solid #000000;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.BOX .p-navbar__content{
  display: flex;
  flex: 1;
  overflow-y: hidden;
  max-height: 100%;
  justify-content: space-between;
  transition: .2s ease;
}

.BOX .checkbox {
  display: flex; 
  justify-content: space-between; 
  flex:1;
}

/* 체크박스 인풋은 숨김처리*/
.checkbox input {
  display: none;
}

/* 체크박스 테두리*/
.checkbox_icon {
  display: flex;
  width: 12px;
  height: 12px;
  background-color: transparent;
  border: 1px solid #C5C5C5;
  align-items: center;

  position: relative;
  cursor: pointer;
}

/* 체크박스 가상요소*/
.checkbox_icon::before, .checkbox_icon::after {
  content: ''; /* 가상요소 필수값*/
  display: inline-block; /* 크기 지정*/
  width: 1px;
  height: 0; /* 체크박스가 체크가 되면 변화값으로 커지게 하기 위해 (일단 화면에는 나타나지 않음)*/
  background-color: blue;
  position: absolute; /* 체크박스 테두리 기준으로 위치조정 가능*/
  transform-origin: left top; /* 기울기 지정, 기준점을 왼쪽 상단 모서리로 (기본값은 중심임)*/
}

/* 가상요소 before*/
.checkbox_icon::before {
  top: 3px; /* 위치값 top*/
  left: 0px; /* 위치값 left*/
  transform: rotate(-45deg); /* 회전값*/
}

/* 가상요소 after */
.checkbox_icon::after {
  top: 10px; /* 위치값 top*/
  left: 7px; /* 위치값 left*/
  transform: rotate(-135deg); /* 회전값*/
}

/* 체크되었을 때 테투리 설정*/
.checkbox input:checked + .checkbox_icon {
  border-color: blue;
}

/* 체크되었을 때 가상요소 before*/
.checkbox input:checked + .checkbox_icon::before {
  height: 10px; /* 높이값 지정*/
  transition: all 0.15s ease; /* 0.15초 변화시간 줌*/
}

/* 체크되었을 때 가상요소 after*/
.checkbox input:checked + .checkbox_icon::after {
  height: 20px; /* 높이값 지정*/
  transition: all 0.15s ease 0.15s; /* 0.15초 변화시간 + 딜레이 시간 줌*/
}

.p-navbar__menu {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}