@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

body {
  /* font-family: "Open Sans", sans-serif; */
  font-family:  "Spoqa Han Sans", serif;
  color: #444444;
  margin: 0;
  padding: 0;

}
/*==========================================================*/
/*Login Page*/
/*==========================================================*/
input::placeholder {
  color: #c7c7c7;
}
.huji {
  width : 100%;
  height : 90vh;
  min-height: 1000px;
  background: url(../images/login-bg.png) center no-repeat;
  background-size: cover;
}
.page_title{
  font-size: 35px;
  font-weight: 800;
  color: black;
  margin-top : 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.logo{
  margin-top: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.huji .input{
  background-color: white;
  overflow:hidden; height:auto; /*컨텐츠 추가시 자동으로 높이 크기 조절*/
  min-height: 480px;
  max-width: 450px;
  margin: 0 auto;
  border-radius: 24px;
  box-shadow: 0px 4px 23px -4px rgba(0, 0, 0, 0.25);
  /* opacity: 0.7; */
  text-align: center;
  align-items: center;
  justify-content: center;
}
.loginBox{
  padding-top: 30px;
  background-color: transparent;
}
.inputBox{
  width: 280px;
  margin: 0 auto;
  border-radius: 2px;
  box-sizing: border-box;
  border-bottom: 3px solid #c7c7c7;
  display: flex;
  padding-top: 10px;
}
.inputBox #id{
  width: 280px;
  height: 50px;
  border: none;
  outline: none;
  padding-top: 10px;
  margin-left: 10px;
  color: #000000;
  font-size: 17px;
  box-sizing: border-box;
}
.loginBtn{
  background: #0C61FE;
  border: none;
  padding: 10px 120px;
  color: #fff;
  border-radius: 10px !important;
  cursor: pointer;
  box-shadow: 4px 4px 23px -4px rgba(0, 0, 0, 0.25);
  font-size: 0.93em;
}
.findidpw{
  background: transparent;
  border: none;
  padding-top: 10px;
  font-size: 12px;
  position: absolute;  
  top: 0;
  right: 0;
  cursor:pointer;
}
.btn{
  padding-top: 30px;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 285px;
  margin: 0 auto;
  position: relative ;
}

.makeId{
  color: #0D99FF;
  background: transparent;
  border: none;
  font-size: 16px;
  cursor:pointer;
}
.icon{
  display: flex;
  width: 280px;
  margin: 0 auto;
  padding-left: 32px;
}
.snsBtn{
  background: transparent !important;
  border: none;
  padding-right: 30px;
}
#loginImg{
  width: 25px;
  height: 30px;
  text-align: center;
  padding-top: 10px;
}
#snsImg{
  border: none;
  width: 47px;
  height: 47px;
  margin: 0 auto;
  box-shadow: 4px 4px 23px -4px rgba(0, 0, 0, 0.25);
  background: transparent;
  border-radius: 70%;
  cursor:pointer;
}
#snsLogin{
  padding-top: 15px;
}

/*==========================================================*/
/*Join Page*/
/*==========================================================*/
.joinBox{
  padding: 10px 10px 20px 10px;
  background-color: transparent;
}

.joinBtn{
  width: 90px;
  height: 25px;
  margin: 7px 0px 0px 10px;
  background: #5B5B5B;
  border: none;
  color: #fff;
  border-radius: 5px !important;
  cursor: pointer;
  font-size: 10px;
}

.inputJBox{
  width: 350px;
  margin: 0 auto;
  border-radius: 2px;
  box-sizing: border-box;
  display: flex;
  padding-top: 15px;
}

.inputJBox #id, #number, #nickname{
  width: 350px;
  height: 30px;
  border: none;
  outline: none;
  border-bottom: 3px solid #c7c7c7;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #000000;
  font-size: 12px;
  box-sizing: border-box;
}

.inputJBox #pw, #pw_check{
  width: 350px;
  height: 30px;
  border: none;
  outline: none;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 3px solid #c7c7c7;
  color: #000000;
  font-size: 12px;
  box-sizing: border-box;
}

.inputJBox #femail, #semail, #cmail{
  width: 110px;
  height: 30px;
  border: none;
  outline: none;
  border-bottom: 3px solid #c7c7c7;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #000000;
  font-size: 12px;
  box-sizing: border-box;
}

.inputJBox #find_id, #find_femail, #find_semail, #find_cmail, #init_pw, #init_pw_check{
  width: 110px;
  height: 50px;
  border: none;
  outline: none;
  border-bottom: 3px solid #c7c7c7;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #000000;
  font-size: 12px;
  box-sizing: border-box;
}

.inputJBox #biz_num{
  width: 350px;
  height: 50px;
  border: none;
  outline: none;
  border-bottom: 3px solid #c7c7c7;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #000000;
  font-size: 12px;
  box-sizing: border-box;
}



.golbang{
  margin: 0 10px;
  color:#5B5B5B;
  font-weight: 600;
}
.star{
  height: 24px;
  margin: 3px 0px;
  color:red;
  border-bottom: 3px solid #c7c7c7;
}
.BOX{
  overflow:hidden; height:auto; /*컨텐츠 추가시 자동으로 높이 크기 조절*/
  min-height: 100px;
  max-width: 350px;
  margin: 20px auto 10px; 
  background-color: #f3f3f3; 
  border-radius: 12px;
  border: 0.5px solid #000000;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.BOX .p-navbar__content{
  display: flex;
  flex: 1;
  overflow-y: hidden;
  max-height: 100%;
  justify-content: space-between;
  transition: .2s ease;
}

.BOX .checkbox {
  display: flex; 
  justify-content: space-between; 
  flex:1;
}

/* 체크박스 인풋은 숨김처리*/
.checkbox input {
  display: none;
}

/* 체크박스 테두리*/
.checkbox_icon {
  display: flex;
  width: 12px;
  height: 12px;
  background-color: transparent;
  border: 1px solid #C5C5C5;
  align-items: center;

  position: relative;
  cursor: pointer;
}

/* 체크박스 가상요소*/
.checkbox_icon::before, .checkbox_icon::after {
  content: ''; /* 가상요소 필수값*/
  display: inline-block; /* 크기 지정*/
  width: 1px;
  height: 0; /* 체크박스가 체크가 되면 변화값으로 커지게 하기 위해 (일단 화면에는 나타나지 않음)*/
  background-color: blue;
  position: absolute; /* 체크박스 테두리 기준으로 위치조정 가능*/
  transform-origin: left top; /* 기울기 지정, 기준점을 왼쪽 상단 모서리로 (기본값은 중심임)*/
}

/* 가상요소 before*/
.checkbox_icon::before {
  top: 3px; /* 위치값 top*/
  left: 0px; /* 위치값 left*/
  transform: rotate(-45deg); /* 회전값*/
}

/* 가상요소 after */
.checkbox_icon::after {
  top: 10px; /* 위치값 top*/
  left: 7px; /* 위치값 left*/
  transform: rotate(-135deg); /* 회전값*/
}

/* 체크되었을 때 테투리 설정*/
.checkbox input:checked + .checkbox_icon {
  border-color: blue;
}

/* 체크되었을 때 가상요소 before*/
.checkbox input:checked + .checkbox_icon::before {
  height: 10px; /* 높이값 지정*/
  transition: all 0.15s ease; /* 0.15초 변화시간 줌*/
}

/* 체크되었을 때 가상요소 after*/
.checkbox input:checked + .checkbox_icon::after {
  height: 20px; /* 높이값 지정*/
  transition: all 0.15s ease 0.15s; /* 0.15초 변화시간 + 딜레이 시간 줌*/
}

/* SeungWook CSS */

/*General*/

a{
  text-decoration: none;
}


/*=========================================================*/
/*===================== findIdpw_main =====================*/
/*=========================================================*/

/*백그라운드 이미지*/
.bg_findIdpw_169{
  width : 100%;
  min-height: 1000px;
  background: url(../images/login_bg_169.png) center no-repeat;
  background-size: cover;
  overflow: hidden;
}

/*아이디/비밀번호 찾기 페이지 제목*/
.page_title_findIdpw{
  font-size: 35px;
  font-weight: 800;
  color: black;
  margin-top : 10px;
  margin-bottom: 100px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

/*찾기 페이지 상자*/
.inputBox_findIdpw{
  background-color: #FFFFFF;
  height : 5vh;
  min-height: 200px;
  min-width: 100px;
  max-width: 650px;
  margin: 3% auto;
  margin-bottom: 70px;
  border-radius: 24px;
  box-shadow: 0px 4px 23px -4px rgba(0, 0, 0, 0.25);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  text-align: center;
}

/*찾기 페이지 상자 제목*/
.inputBox_title_findIdpw{
  position: relative;
  margin:25px auto; /*이상하면 여기 auto 빼기*/
  margin-bottom: 10px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 35px;
  color: #0C61FE;

}


/*찾기 페이지 상자 밑줄*/
.underline_findIdpw{
position: relative;
width: 500px;
height:0px;
border: 0.5px solid #C7C7C7;
}

/*찾기 페이지 상자 외부*/
.boxO_findIdpw{
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 480px;
  margin: auto;
  position: relative ;
  display: flex;
}

/*찾기 페이지 상자 내부*/
.boxI_findIdpw{
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 450px;
  margin: 25px auto;
  margin-top: 20px;
  margin-bottom: 30px;
  position: relative ;
  display: flex;
}

/*찾기 페이지 클릭 버튼*/
.btn_find{
  background: transparent;
  border: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 150%;
  letter-spacing: -0.022em;
  margin:5px;
  margin-left: 20px;
  margin-top: 10px;
  color: #a9a9a9;
}


.btm_rect{
  height : 25px;
  min-width: 650px;
  background: #0C61FE;
  box-shadow: 0px 4px 23px -4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 24px 24px;
  align-self: flex-end;
}

/*============================================================*/




/*===========================================================*/
/*======================== join_main ========================*/
/*===========================================================*/


.page_title_joinMain{
  font-size: 35px;
  font-weight: 800;
  color: black;
  margin:10px auto;
  text-align: center;
  align-items: center;
  justify-content: center;
}



.page_subtitle_joinMain{
  font-size: 20px;
  font-weight: 800;
  color: black;
  margin: 10px auto;
  text-align: center;
  align-items: center;
  justify-content: center;
  line-height: 29px;
}

.boxO_joinMain{
  width: 55%;
  margin:10px auto;
  margin-top: 50px;
  display: flex;

  justify-content: center;
}
 
/*찾기 페이지 상자*/
.inputBox_joinMain{
  flex-basis: 450px;
  min-width: 400px;
  margin: 20px;
  min-height: 550px;
  border-radius: 24px;
  box-shadow: 0px 4px 23px -4px rgba(0, 0, 0, 0.25);
  background-color: #FFFFFF;


  display: flex;
  flex-direction: column;


}


.inputBox_title_joinMain{
  position: relative;
  margin:35px auto; /*이상하면 여기 auto 빼기*/
  margin-bottom: 10px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  color: #0C61FE;

}

.underline_joinMain{
  position: relative;
  width: 80%;
  border: 0.5px solid #C7C7C7;
  margin: 10px auto;
  }

.content_joinMain{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 550;
  font-size: 18px;
  text-align: center;
  margin: 10px auto;

  color: #000000;
}

.boxM_joinMain{
  margin-top: 25px;
  margin-bottom: 35px;
}

.boxI_joinMain{
  width: 60%;
  margin:5px auto;
  margin-bottom: 0px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;


}

/*찾기 페이지 클릭 버튼*/
.btn_find{
  min-width: 210px;
  background: transparent;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: #000000;
}

#check_joinMain{
  margin-top: 10px;
  width: 20px;
  height: 20px;
}

.btm_rect_joinMain{
  height: 45px;
  width: 100%;
  background: #0C61FE;
  box-shadow:   0px 4px 23px -4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 24px 24px; 
  display: flex;
  margin: 0px auto;
  justify-content: center;
}

.btn_joinMain{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  text-align: center;

  margin-top: 5px;

  color: #FFFFFF;
}

/*============================================================*/




/*===========================================================*/
/*======================== findIdPer ========================*/
/*===========================================================*/


.inputBox_findIdPer{
  width: 30%;
  min-width: 440px;
  min-height: 400px;
  overflow:hidden; height:auto;
  margin: 20px auto;
  border-radius: 24px;
  box-shadow: 0px 4px 23px -4px rgba(0, 0, 0, 0.25);
  background-color: #FFFFFF;

  margin-top: 80px;
  padding-top: 50px;

  flex-direction: column;
  display: flex;
}

.content_findIdPer{
  width: 77.2%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-align: left;
  margin: 10px auto;
  color: #000000;

  padding-left: 50px;
  padding-right: 50px;
}

.boxI_findIdPer{
  width: 77.2%;
  min-width: 340px;
  margin: 10px auto;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: -10px;
  margin-top:40px;
  
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* 중복확인_Button */
.btn_findIdPer{
  width: 100px;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  margin-top: 5px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #FFFFFF;
  background: #5B5B5B;
  box-shadow: 4px 4px 23px -4px rgb(0 0 0 / 25%);
}

.content_findIdPer_box{
  width: 50%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  text-align: left;
  margin: 10px;

  color: #a9a9a9;
}


.underline_findIdPer{
  width: 75%;
  height:0px;
  
  margin-right: 110px;

  border: 1.5px solid #a9a9a9;
  background-color: #a9a9a9;
  align-self: baseline;
  }

.btn_findIdpw{
  width: 160px;
  height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  border:none;

  margin:auto;
  margin-top: 70px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  color: #FFFFFF;
  background: #0C61FE;
  box-shadow: 4px 4px 23px -4px rgb(0 0 0 / 25%);

  cursor: pointer;
}


/*============================================================*/




/*===========================================================*/
/*======================= findIdPer_1 =======================*/
/*===========================================================*/


.content_findIdPer_1{
  width: 77.2%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: bolder;
  font-size: 22px;
  text-align: center;
  letter-spacing :-1.5px;
  color: #000000;

  margin: 10px auto;
  margin-top: 50px;
  margin-bottom: -30px;

}


/*============================================================*/




/*===========================================================*/
/*======================== findPwPer ========================*/
/*===========================================================*/

.underline_findPwPer{
  width: 100%;
  height:0px;
  
  border: 1.5px solid #a9a9a9;
  background-color: #a9a9a9;
  align-self: baseline;
  }

.btn_findPw{
  width: 220px;
  height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  
  margin:auto;
  margin-top: 70px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  color: #FFFFFF;
  background: #0C61FE;
  box-shadow: 4px 4px 23px -4px rgb(0 0 0 / 25%);
}

.boxI_findPwPer{
  width: 77.2%;
  min-width: 340px;
  margin: 10px auto;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: -10px;
  margin-top:27px;
  
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.p-navbar__menu {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

/* 에러메세지 */

.error_next_box {
  margin: 0 auto;
  width: 350px;
  font-size: 10px;
  color: red;    
  display: none;
}

#alertTxt {
  position: absolute;
  top: 19px;
  right: 38px;
  font-size: 12px;
  color: red;
  display: none;
}


/*===========================================================*/
/*======================== findIdCor ========================*/
/*===========================================================*/


.findCor_box{
  display:flex;
}



/*===============================popup=====================================*/

.input_test{
  background-color: rgb(163, 160, 160);
  overflow:hidden; height:auto; /*컨텐츠 추가시 자동으로 높이 크기 조절*/
  min-height: 450px;
  max-width: 350px;
  margin: 30px auto;
  border-radius: 24px;
  box-shadow: 0px 4px 23px -4px rgba(0, 0, 0, 0.25);
  /* opacity: 0.7; */
  text-align: center;
  align-items: center;
  justify-content: center;
}

.select_api{
  width:400px; 
  height: 400px; 
  /* overflow: auto;  */
  margin: 20px auto;
}

.select_button1{
  margin: 20px auto;
  height: 50px;
  width: 300px;
  background-color: #000000;
  /* text-align: center; */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
}
