.swagger-ui .topbar { 
    display: none ;
    -ms-overflow-style: none;
    height:100%;
}

.swagger-ui::-webkit-scrollbar{
    display:none;
}
.info .main {
    display: flex;
    height: 0px;
    align-items: center; 
    justify-content: center;
    /* background: url(../images/logo.png) center no-repeat; */
    /* background-size: 100% 100%; */
}
.info .title {
    opacity: 0;
}
.renderedMarkdown {
    display: flex;
    align-items: center; 
    justify-content: center;
}

.main span{
    display: none ;
}

.info{
    display:none;
}

html{
    overflow: unset;
}

